@charset "UTF-8";
/* CSS Document */

/* =========================================================
 * reset　　　    /*リセット
========================================================= */
blockquote, body, div, dl, dt, dd, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, select, span, textarea, td, th, ul, figure, figcaption {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ol {
  list-style-type: none; }

ul {
  list-style-type: none; }
  ul li {
    list-style-type: none; }

img {
  border: none;
  vertical-align: bottom; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

iframe {
  border: none; }

a:focus {
  outline: none; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li img {
  line-height: 0;
  font-size: 0;
  vertical-align: top; }

/* IE */
* html ul li dl, * html ol li dl {
  display: inline; }
*:first-child + html ul li dl, *:first-child + html ol li dl {
  display: inline; }

/* =========================================================
 * default settings      　   /*デフォルトセッティング
========================================================= */
html {
  font-size: 14px; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  word-break: break-all; }

p {
  line-break: strict; }

button{
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  a:hover {
    opacity: 0.6;
    -webkit-opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)"; }

body {
  font-size: 1.3em;
  font: inherit;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  line-height: 1.6;
  letter-spacing: .05em;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  color: #000;
}

#wrapper {
  width: 100%; }

.pc {
  display: block!important; }

.sp {
  display: none!important; }

.hide, .hidden {
  visibility: hidden; }

img {
  max-width: 100%; }

main {
  display: block; }

@media screen and (max-width: 767px) {
  a {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none; }
    a:hover {
      opacity: 1;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      filter: alpha(opacity=100);
      /* IE lt 8 */
      -ms-filter: "alpha(opacity=100)";
      /* IE 8 */ }

  body {
    -webkit-text-size-adjust: 100%;
    background: #fff;
    min-width: 100%; }

  img {
    width: 100%; }

  .pc {
    display: none!important; }

  .sp {
    display: block!important; }

  .main-col{
	width: 94%;
	margin: 0 auto;
    float: none;
  }
}

/* =========================================================
 * font
========================================================= */
/* Arial */
.arial{
  font-family: Arial, Helvetica, "sans-serif";
}

/* =========================================================
 * common      　   /*共通
========================================================= */
#header .pc-header{
  width: 100%;
  height: 136px;
  position: fixed;
  background-color: #fff;
  z-index: 999;
}
.headerLogo{
  width: 220px;
  height: 48px;
  left: 0;
  right: 0;
  top: 16px;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
}
.pc-header .tagline{
  position: absolute;
  left: 2%;
  display: flex;
}
.pc-header .tagline span img{
  position: relative;
  top: 12px;
  width: 40px;
  margin-right: 16px;
}
.pc-header .tagline h1{
  position: relative;
  top: 20px;
  font-size: .8rem;
  font-weight: bold;
  margin: 0;
}
.pc-header .tagline h1 span{
  color: #006ebb;
}
.pc-header dl.btnHeaderTel{
  position: absolute;
  display: block;
  right: 190px;
  top: 19px;
  line-height: 1.5;
}
.pc-header dl.btnHeaderTel dt{
  font-size: .8rem;
  font-weight: bold;
}
.pc-header dl.btnHeaderTel dd{
  font-size: 1.4rem;
  font-weight: bold;
}
.pc-header dl.btnHeaderTel dd a{
  text-decoration: none;
  color: #ff9900;
}
.pc-header .btnHeaderForm{
  width: 80px;
  height: 80px;
  display: table-cell;
  text-align: center;
  background-color: #daeefc;
  position: absolute;
  top: 0;
  right: 80px;
}
.pc-header .btnHeaderForm a{
  overflow: hidden;
  position: relative;
  display: block;
  padding: 36px 0 0;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}
.pc-header .btnHeaderForm .btnHeaderFormInr{
  background-image: url(../img/common/iconForm.svg);
  background-size: 26px 17px;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 60%;
  margin-top: 24%;
}
.pc-header .btnHeaderKeep{
  width: 80px;
  height: 80px;
  display: table-cell;
  text-align: center;
  text-align: center;
  background-color: #ffe8e2;
  position: absolute;
  top: 0;
  right: 0;
}
.pc-header .btnHeaderKeep a{
  overflow: hidden;
  position: relative;
  display: block;
  padding: 36px 0 0;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}
.pc-header .btnHeaderKeep .btnHeaderKeepInr{
  background-image: url(../img/common/iconKeep.svg);
  background-size: 26px 17px;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 60%;
  margin-top: 24%;
}
.sp-header{
  display: none;
}

main{
  padding-top: 136px;
}
.gnav{
  width: 100%;
  display: block;
  height: 56px;
  position: relative;
  background-color: #f2f2f2;
  border-bottom: 1px solid #b0b5b5;
  top: 80px;
}
ul.gnavList{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
li.gnavInner{
  width: 25%;
  height: 40px;
  line-height: 40px;
  margin: 8px 0;
  border-right: 1px solid #fff;
  font-weight: bold;
}
li.gnavInner:first-child{
  border-left: 1px solid #fff;
}
li.gnavInner a{
  display: block;
  color: #000;
  text-decoration: none;
}
li.gnavInner span img{
  width: 26px;
  margin: 8px 16px 0 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
#header .pc-header{
  display: none;
}
#header .sp-header{
  display: block;
  height: 85px;
  position: fixed;
  min-width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
#header .sp-header .headerLogo{
  width: 166px;
  height: 36px;
  margin: 12px 3%;
  position: absolute;
  top: 25px;
}
.sp-header h1{
  font-size: .8em;
  display: block;
  background-color: #fafafa;
  margin: 0;
  padding: 0 3%;
  height: 25px;
  line-height: 25px;
}
.sp-header .btnHeaderForm{
  width: 60px;
  height: 60px;
  display: table-cell;
  text-align: center;
  background-color: #daeefc;
  position: absolute;
  top: 25px;
  right: 120px;
}
.sp-header .btnHeaderForm a{
  overflow: hidden;
  position: relative;
  display: block;
  padding: 36px 0 0;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}
.sp-header .btnHeaderForm .btnHeaderFormInr{
  background-image: url(../img/common/iconForm.svg);
  background-size: 26px 17px;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 60%;
  margin-top: 34%;
}
.sp-header .btnHeaderKeep{
  width: 60px;
  height: 60px;
  display: table-cell;
  text-align: center;
  text-align: center;
  background-color: #ffe8e2;
  position: absolute;
  top: 25px;
  right: 60px;
}
.sp-header .btnHeaderKeep a{
  overflow: hidden;
  position: relative;
  display: block;
  padding: 36px 0 0;
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}
.sp-header .btnHeaderKeep .btnHeaderKeepInr{
  background-image: url(../img/common/iconKeep.svg);
  background-size: 26px 17px;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 60%;
  margin-top: 35%;
}
main{
  padding-top: 85px;
}
.gnavSp{
  display: block;

}
.drawer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 25px;
  right: 0;
  padding: 21px 18px;
  background-color: #f2f2f2;
}
.navbar_toggle{
  z-index:9999;
  height: 23px;
  position: relative;
}
.navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 24px;
  background-color: #000;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}
.navbar_toggle_icon:nth-child(1) {
  top: 0;
}
.navbar_toggle_icon:nth-child(2) {
  margin: 6px 0;
}
.navbar_toggle_icon:nth-child(3) {
  top: 0;
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}
.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu{
  display: none;
}
.menu ul li{
 padding: 2em;
 border-bottom: 1px solid #CCC;
}
.menu.animation {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  z-index:1000;
}
.menu.open {
  -webkit-transform:translateX(0);
  transform:translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 85px;
  width: 100%;
  background-color: #fff;
  display: block;
}
.menu.open li.gnavInner{
  width: 100%;
  height: 60px;
  margin: 0;
  border-right: none;
  padding: 10px 3%;
}
.menu.openli.gnavInner:first-child{
  border-left: none;
}
}
