@media screen and (min-width:641px){
    .pan{
        margin-top:1%;
        margin-bottom:48px;
		font-size: .9rem;
    }
}
@media screen and (max-width:640px){
    .pan{
        margin: 1% 2% 5%;
		  font-size: .8em;
    }
    .sp-pad{
        padding:0 2%;
    }
}

.sp-view {
  display: none;
}

.pc-view {
  display: block;
}

@media screen and (max-width:640px){
  .pc-view {
    display: none;
  }
}

@media screen and (max-width:640px){
  .sp-view {
    display: block;
  }
}

@media screen and (min-width:641px){
  .sp-view {
    display: none !important;
  }
}

/*-----------------------------
ä»•äº‹è©³ç´°ã€€detail
-----------------------------*/

/*------2019.10.02 shibata rev --------------*/
/*
.detail-tit{
    /*padding: 0.5em 0 0.3em;
    padding: 0 0 0.3em;
    /*border-top: solid 4px #007FC3;
    border-bottom: solid 4px #007FC3;
}*/
/*------2019.10.02 shibata rev --------------*/

.detail-tit h1{
    font-size:1.6em;
    font-weight:900;
    margin:0;
}
.detail-catch{
    font-size:1.1em;
    font-weight:900;
}
.detail-term{
    list-style:none;
    margin:0 0 0 2%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}
.detail-term li{
    display:inline-block;
    margin:0.5% 0.5% 0.5% 0;
    border:solid 1px#017ec3;
    padding: 1% 2%;
    text-align:center;
    font-size:0.8em;
    border-radius:6px;
    color:#017ec3;
}
@media screen and (min-width:641px){
    .detail-condition{
        float:left;
        width:17%;
        margin-right:3%;
    }
    .detail-condition2{
        float:left;
        width:80%;
    }
    .detail-term_tit{
        margin-top:3%;
        background:#017ec3;
        padding: 4% 2%;
        text-align:center;
        font-size:0.8em;
        border-radius:6px;
        color: white;
        font-weight: 900;
        position: relative;
    }
.detail-condition .detail-term_tit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left: 15px solid #017ec3;
    z-index: -100;
}
    .detail-btn button, input[type="button"], input[type="reset"], input[type="submit"],.tensyoku-btn {
        width:50%;
        background-color:#ffa200 !important;
        color:#fff !important;
        padding:2% 1% !important;
        border-radius:5px !important;
        font-size:1.3em !important;
        font-weight:900 !important;
        border:none !important;
    }
    .btn-keep{
        width:50%;
        background-color:#017EC3 !important;
        color:#fff !important;
        padding:2% 1% !important;
        border-radius:5px !important;
        font-size:1.3em !important;
        font-weight:900 !important;
        border:none !important;
    }
    .ar-btn-keep{
        width:100%;
        background-color:#017EC3 !important;
        color:#fff !important;
        padding:2% 1% !important;
        border-radius:5px !important;
        font-size:1.3em !important;
        border:none !important;
        text-align:center;
        margin:2% 0 !important;
    }
    .detail-3box{
        float:left;
        width:31.333%;
        margin:1%;
        border:solid 1px #e2e2e2;
        border-radius:10px;
        padding:1%;
        font-size:0.9em;
    }
    .detail50{
        float:left;
        width:48%;
        margin:1%;
    }

}
@media screen and (max-width:640px){
    .detail-term_tit{
        margin-top:3%;
        background:#007FC3;
        padding: 2%;
        text-align:center;
        font-size:1.2em;
        border-radius:6px;
        margin-bottom:2%;
        color: #fff;
        position: relative;
    }
    .detail-term_tit:before {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left: 15px solid #017ec3;
    z-index: 100;
    }
    .detail-btn button, input[type="button"], input[type="reset"], input[type="submit"],.tensyoku-btn {
        width:80%;
        background-color:#ffa200 !important;
        color:#fff !important;
        padding:5% 1% !important;
        border-radius:5px !important;
        font-size:1.3em !important;
        font-weight:900 !important;
        border:none !important;
    }
    .btn-keep{
        width:80%;
        background-color:#017EC3 !important;
        padding:3% 1% !important;
        border-radius:5px !important;
        font-size:1.3em !important;
        font-weight:900 !important;
        border:none !important;
    }
    .ar-btn-keep{
        width:100%;
        color:#fff !important;
        background-color:#017EC3 !important;
        padding:3% 1% !important;
        border-radius:5px !important;
        font-size:1.3em !important;
        border:none !important;
        text-align:center;
        margin:2% 0 !important;
    }
    .detail-3box{
        width:80%;
        margin:3%;
        margin-left:10%;
        border:solid 1px #e2e2e2;
        border-radius:10px;
        padding:1%;
        font-size:0.9em;
    }
}
.btn-keep a,.ar-btn-keep a{
    color:#fff !important;
}
.detail-subtit{
    padding: 0.5em 0;/*ä¸Šä¸‹ã®ä½™ç™½*/
	 background-color: #449bd9;
	 color: white;
    font-size:1.2em;
    font-weight:900;
    box-shadow: 0 0 5px gray;
}
h2.detail-subtit{
    background-color: #007FC3;
    color: white;
    padding-left: 10px;
	 padding-right: 10px;
}


.feelingrank tr td:first-child , .feelingrank tr td:last-child{
    background-color:#007FC3;
    text-align: center;
    padding:5px 6px;
    border-radius:3px;
    font-size:0.8em;
    color: white;
}


.work-table table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size:0.9em;
}
.work-table th,.work-table td{
    border:solid 1px #afafaf;
}
.work-table th{
    padding:1% 2%;
    width:25%;
    background:#f1f1f1;
}
.work-table td{
    padding:1% 2%;
}

.detail50-img{
    float:left;
    width:20%;
}
.detail50-text{
    float:left;
    width:80%;

}
.balloon1-left {
    position: relative;
    display: inline-block;
    margin: 1% 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFEAE9;
}
.balloon1-left:before {
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #FFEAE9;
}
.balloon1-left p {
    margin: 0;
    padding: 0;
}
.image-round{
    border-radius: 50%;
}
.company-tit{
    font-size:1.1em;
    font-weight:900;
}


/*--ãŠã™ã™ã‚--*/
@media screen and (min-width:641px){
    .detail-reco-box{
        display:inline-block;
        width:32%;
        margin:2% 0.2%;
        vertical-align:top;
        padding:1%;
        border:solid 1px #afafaf;
    }
}
@media screen and (max-width:640px){
    .detail-reco-box{
        width:96%;
        margin:2% 0.2%;
        vertical-align:top;
        padding:1%;
        border:solid 1px #afafaf;
    }
}
.detail-recotit{
    background:#007FC3;
    color:#fff;
    padding:1%;
    text-align:center;
    font-size:1.2em;
    font-weight:900;
}
.detail-reco-tit{
    text-align:left;
    font-weight:900;
}
.detail-reco-catch{
    text-align:left;
    font-size:0.8em;
}

.comp-tit{
    /*background-color: #F6F6F6;*/
}
.company-tit.mark {
  position: relative;
  padding-left: 1.2em;/*ã‚¢ã‚¤ã‚³ãƒ³åˆ†ã®ã‚¹ãƒšãƒ¼ã‚¹*/
  line-height: 1.4;
}

.company-tit.mark:before {
  content: "â—†";/*ã‚¢ã‚¤ã‚³ãƒ³ã®ãƒ¦ãƒ‹ã‚³ãƒ¼ãƒ‰*/
  position: absolute;/*çµ¶å¯¾ä½ç½®*/
  font-size: 1em;/*ã‚µã‚¤ã‚º*/
  left: 0;/*ã‚¢ã‚¤ã‚³ãƒ³ã®ä½ç½®*/
  top: 0;/*ã‚¢ã‚¤ã‚³ãƒ³ã®ä½ç½®*/
  color: #007FC3; /*ã‚¢ã‚¤ã‚³ãƒ³è‰²*/
}
/*-----------------------------
ä¼šç¤¾æƒ…å ±
-----------------------------*/
.feelingrank2 tr td:first-child{
    background-color:#007FC3;
    text-align: center;
    padding:5px 10px;
    border-radius:10px;
    font-size:0.8em;
}
@media screen and (min-width:641px){
    .company-messe-flo{
        float:left;
        width:48%;
        margin-right:2%;
    }
    .company-messe-flo2{
        float:left;
        width:50%;
        font-size:0.9em;
    }
}
@media screen and (max-width:640px){

}
.company-messe-abso{
    position:absolute;
    width:45%;
    background:rgba(255,255,255,0.7);
    left:50%;
    top:20%;
    padding:4% 2%;
    text-align: center;
    font-weight:900;
}
.company-messe-abso span{
    font-size:0.8em;
    font-weight:100;
}

.feelingrank2.marb2 td{color:white;}

/*-----------------------------
Archive
-----------------------------*/
.ar-tit{
    padding: 0.5em 0;
    border-top: solid 3px #007FC3;
    border-bottom: solid 3px #007FC3;
    font-size:1.2em;
    font-weight:900;
}

@media screen and (min-width:641px){
    .ar-work-flo{
        float:left;
        width:49%;
        margin-right:1%;
    }
    .ar-work-flo2{
        float:left;
        width:49%;
        margin-left:1%;
    }
}
@media screen and (max-width:640px){
    .ar-work-flo{
        width:100%;
    }
    .ar-work-flo2{
        width:100%;
    }
}
.ar-workbox{
    border:solid 3px #e2e2e2;
    border-radius:10px;
    padding:2%;
}
.ar-workbox-pad{
    padding:5px;
}
.ar-work-name{
    padding: 0.5em 0;
    border-top: solid 3px #007FC3;
    border-bottom: solid 3px #007FC3;
    font-size:1.2em;
    font-weight:900;
}
.ar-work-name p{
    font-size:0.8em;
    color:#7c7c7c;
    font-weight:100;
    margin-block-start: 0;
    margin-block-end: 0;
}
.ar-work-catch{
    font-size:1em;
    font-weight:900;
    margin-bottom:1%;
}

.ar-work-detail{
    font-size:0.9em;
    margin:1% 0% 2%;
}
.ar-work-table th,.ar-work-table td{
    border:solid 1px #afafaf;
}
.ar-work-table th{
    background:#f1f1f1;
    padding:1% 2%;
    width:25%;
    font-size:0.8em;
}
.ar-work-table td{
    font-size:0.8em;
    padding-left:2%;
}
.ar-work-term{
    display:inline-block;
    margin:0.5% 0.5% 0.5% 0;
    border:solid 1px#007FC3;
    padding: 1% 2%;
    text-align:center;
    font-size:0.8em;
    border-radius:6px;
    color:#2ca2a5;
}

.ar-work-btn {
    display: block;
    width: 100%;
    text-align: center;
    background: #007FC3;
    border-radius: 5px;
    padding:2% 0%;
}
.ar-work-btn p{
    color: #FFF;
    position: relative;
    font-size:1.4em;
    margin-block-start: 0;
    margin-block-end: 0;
}
.ar-work-btn p::before{
    content: "";
    position: absolute;
    top: 18%;
    left: 90%;
    width: 15px;
    height: 15px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

/*-----------------------------
ä¼šç¤¾æƒ…å ±ã€€Archive
-----------------------------*/

.ar-company-tit{
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.kana{
    display:inline-block;
    background-color:#007FC3;
    padding:1% 2%;
    font-size:2em;
    border-radius:10px;
    margin-top:2%;
}

/*-----------------------------
title
-----------------------------*/

.kasotit01{
    background-image: url(../img//toptit05.png);
}
@media screen and (min-width:641px){
    .kasotit01{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.3em;
        font-weight:100;
    }
}
@media screen and (max-width:640px){
    .kasotit01{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.4em;
        font-weight:100;
    }
}

.kasotit02{
    background-image: url(../img/toptit04.png);
}
@media screen and (min-width:641px){
    .kasotit02{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.3em;
        font-weight:100;
    }
}
@media screen and (max-width:640px){
    .kasotit02{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.4em;
        font-weight:100;
    }
}

.kasotit03{
    background-image: url(../img/toptit03.png);
}
@media screen and (min-width:641px){
    .kasotit03{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.3em;
        font-weight:100;
    }
}
@media screen and (max-width:640px){
    .kasotit03{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.4em;
        font-weight:100;
    }
}

.kasotit04{
    background-image: url(../img/toptit06.png);
}
@media screen and (min-width:641px){
    .kasotit04{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.3em;
        font-weight:100;
    }
}
@media screen and (max-width:640px){
    .kasotit04{
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: 0 14px;
        font-size:1.4em;
        font-weight:100;
    }
}


/*ç›®æ¬¡*/
@media screen and (min-width:641px){
    .outline{
        border:1px solid #017ec3;
        padding:10px 10px 10px;
        margin-top:20px;
        display:block;
        font-size:0.9em;
        line-height:1.5em;
        width:90%;
    }
}
@media screen and (max-width:640px){
    .outline{
        border:1px solid #017ec3;
        padding:10px 10px 0;
        margin-top:20px;
        display:inline-block;
        font-size:0.9em;
        line-height:1.5em;
        width:90%;
        margin-left:5%;
    }
}


.outline__title{
    color:#017ec3;
    font-size:1.2em;
    font-weight:900;
}
.outline__toggle{display: none;}
.outline__switch::before{
    color:#017ec3;
	content:"[â–½]";
	cursor:pointer;
	margin-left:5px;
	border-radius: 5px;
}
.outline__toggle:checked + .outline__switch::before{
    color:#017ec3;
    content:"[â–³]"
}
.outline__switch + .outline__list{
	overflow:hidden;
	width:0;
	height:0;
	margin-top:0;
	margin-left:-5px;
	transition: 0.2s;
}
.outline__toggle:checked + .outline__switch + .outline__list {
    width: auto;
    height: auto;
    margin-top: 10px;
    transition: 0.2s;
    border-top: dotted 1px #d2d2d2;
    padding-top: 1em;
}
.outline__item:before {content: normal;}
.outline__link{
	display:relative;
	color:#191919 !important;
}
.outline__link:hover{border:none;}
.outline__number{
	display: inline-block;
	color:#017ec3;
    border-right:solid 2px #017ec3;
    padding:0.2% 1% 0.2% 0;
    font-size:1.0em;
	font-weight:900;
	margin-right: 5px;
}
label.outline__switch {
    position: relative;
}
li .outline__item{
    list-style-type:none!important;
}
li .outline__item:before{
    content:'- ';
}
ul .outline__item{
	list-style-type:none!important;
}
.outline ul{
    -webkit-padding-start: 1.2em;
    margin:0 0 0 3em;
}
.outline li{
    text-align:left;
    margin-bottom:2%;
    font-size:1.15em;
}

/*-------------------------
  ãƒ–ãƒ­ã‚°ã‚«ãƒ¼ãƒ‰
-------------------------*/
@media screen and (min-width:641px){
    .blog-card {
        background: #fbfaf8;
        border:1px solid #ddd;
        word-wrap:break-word;
        max-width:100%;
        border-radius:5px;
        margin: 30px;
    }
    .blog-card-thumbnail {
        float:left;
        padding:10px;
    }
    .blog-card-title {
        padding:10px 10px 10px 0;
        font-size:120%;
      font-weight: bold;
      line-height: 1.5em;
    }
    .blog-card-excerpt {
        color:#333;
        margin:0 10px 10px;
        line-height: 1.5em;
    }
}
@media screen and (max-width:640px){
    .blog-card {
        background: #fbfaf8;
        border:1px solid #ddd;
        word-wrap:break-word;
        max-width:100%;
        border-radius:5px;
        margin-top:5px;
        font-size:0.9em;
    }
    .blog-card-thumbnail {
        float:left;
        width:30%;
        padding:5px;
    }
    .blog-card-title {
        padding:10px 10px 10px 0;
        font-weight: bold;
        line-height: 1.5em;
    }
    .blog-card-excerpt {
        color:#333;
        font-size:0.8em;
        margin:0 10px 10px;
        line-height: 1.5em;
    }
}
  .blog-card:hover {
    background: #fee;
  }
  .blog-card a {
    text-decoration: none;
  }
  .blog-card-title {
      color: #337ab7;
      display: block;
  }
  .blog-card-thumbnail img {
      display: block;
      padding: 0;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
  }
  .blog-card-content {
      line-height:120%;
  }
  .blog-card .clear {
    clear: both;
  }



.page-sec p{
    margin:0;
}
.texcen{
    text-align:center;
}
.what-box{
    border:solid 1px #e1e1e1;
    padding:2%;
}
.float-img{
    float:left;
    width:15%;
    margin-right:2%;
}
.float-text{
    float:left;
    width:83%;
}
.what-subtit{
    border-bottom:solid 1px #e1e1e1;
    margin-bottom:1%;
    font-size:1.1em;
    font-weight:900;
}
@media screen and (min-width:641px){
    .what-flo{
        float:left;
        width:49%;
        margin:1% 1% 1% 0;
    }
    .what-flo2{
        float:left;
        width:49%;
        margin:1% 0% 1% 1%;
    }
}
@media screen and (max-width:640px){
    .what-flo{
        width:96%;
        margin:2%;
    }
    .what-flo2{
        width:96%;
        margin:2%;
    }
}
.what-qa th{
    width:5%;
}
.what-qa td{
    padding-left:2%;
}
.ques{
    border-bottom:solid 1px #cccccc;
}

.form-subtit{
    font-size:1.3em;
    font-weight:900;
}

@media screen and (max-width:640px){
    .con-table td,.con-table th{
        display:block;
        width:100%;
        border-bottom:none;
        padding:2%;
    }

}

.forcom-bg{
    background:#fde101;
    padding:3% 0 5%;
    margin-bottom:5%;
}

.wrap{font-size:0;vertical-align: top;}
.inline-box p{padding:10px;}
.inline-box{border: solid 1px #ccc;}
@media screen and (min-width:641px){
    .forcom-flo{
        float:left;
        width:45%;
        margin-right:8%;
    }
    .forcom-flo2{
        float:left;
        width:47%;
    }
    .forcon-tit2{
        color:#333333;
        font-size:2em;
        font-weight:500;
        text-align:center;
        margin-bottom:2%;
    }
    .forcom-center{
        text-align:center;
    }
    .inline-box:nth-child(odd){
        width:48%;
        margin-right:2%;
        display: inline-block;
        font-size:14px;
        vertical-align: top;
        margin-bottom:20px;
        border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;
    }
    .inline-box:nth-child(even){
        width:49%;
        display: inline-block;
        font-size:14px;
        vertical-align: top;
        margin-bottom:20px;
        border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;
    }
}
@media screen and (max-width:640px){
    .forcom-flo{
        width:96%;
        margin:2%;
    }
    .forcom-flo2{
        width:90%;
        margin:4% 5%;
    }
    .forcon-tit2{
        color:#333333;
        font-size:1.6em;
        font-weight:500;
        text-align:center;
        margin-bottom:2%;
    }
    .inline-box:nth-child(odd){
        width:96%;
        margin-left:2%;
        display: inline-block;
        font-size:12px;
        vertical-align: top;
        border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;
        margin-bottom:20px;
    }
    .inline-box:nth-child(even){
        width:96%;
        margin-left:2%;
        display: inline-block;
        font-size:12px;
        vertical-align: top;
        border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;
        margin-bottom:20px;
    }
}

.forcom-flo50{
    float:left;
    width:48%;
    margin:1%;
}
.forcon-tit{
    color:#21010c;
    font-size:1.3em;
    font-weight:900;
    text-align:center;
}
.forcom-orange{
    display:inline-block;
    color:#333333;
    background: rgba(0, 0, 0, 0) linear-gradient(transparent 50%, #ff5100 0%) repeat scroll 0 0;
    padding:0 1%;
    font-size:1.5em;
    font-weight:900;
    text-align:center;
}
.forcom-box{
    background:#fff;
    width:90%;
    margin:2% auto;
    padding:1% 2%;
}
.forcom-img{
    float:left;
    width:10%;
    margin-right:4%;
}
.forcom-text{
    float:left;
    width:86%;
    color:#333333;
}
.forcom-subtit{
    border-bottom:solid 1px #e1e1e1;
    margin-bottom:1%;
    font-size:1.1em;
    font-weight:900;
}

h2.bgwht{background-color: #007fc3;color:#ffffff;}


/*-------------------------
  ã‚«ãƒ†ã‚´ãƒªãƒ¼ã‚¢ãƒ¼ã‚«ã‚¤ãƒ–
-------------------------*/
@media screen and (min-width:641px){
    .ar-tokusyu-box{
        width:100%;
        margin:2% 0%;
        border:solid 1px #e6e6e6;
        padding:2%;
        border-radius:8px;
        vertical-align:top;
	    display: inline-block;
    }
	.ar-tokusyu-box a{
	    display: block;
	}
}
@media screen and (max-width:640px){
    .ar-tokusyu-box{
        width:100%;
        margin:2% 0%;
        border:solid 1px #e6e6e6;
        border-radius:3px;
        vertical-align:top;
    }
}
.ar-tokuyu-img{
    float:left;
    width:32%;
    margin-right:3%;
}
.ar-tokuyu-text{
    float:left;
    width:65%;
    font-size:0.9em;
}
.ar-tokuyu-text h3{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2%;
}
.ar-tokuyu-date{
  font-size:0.8em;
  margin-bottom: 2%;
}
.ar-tokuyu-text-inner{
  letter-spacing: .05em;
}

@media screen and (max-width:640px){
    .gmap iframe{
        width:90%;
        height:50%;
    }
}

/***************ã€€2019.10.01 shibata added ***************/

/** detail common**/
body.post-type-archive-detail main,
body.single-detail main,
body.archive main,
body.page-id-897 main {
  background-color: #f3fafc;
}
h1.main-col-Ttl,
.detail-tit h1 {
  font-size: 1.5rem;
  letter-spacing: .05em;
  font-weight: bold;
  /*padding-bottom: 32px;*/
  border-bottom: 4px solid #006ebb;
  margin-bottom: 40px;
  line-height: 50px;
}
@media screen and (max-width:640px){
  h1.main-col-Ttl{
    margin-bottom: 28px;
    padding-bottom: 12px;
    font-size: 1.3rem;
    line-height: 26px;
  }
}
h1.column,h1.feature{
  padding-left: 48px;
}
h1.main-col-Ttl.column::before{
  content: "";
  background-image: url("../img/common/iconColumn.png") ;
  position: absolute;
  display: table-cell;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
h1.main-col-Ttl.feature::before{
  content: "";
  background-image: url("../img/common/iconFeature.png") ;
  position: absolute;
  display: table-cell;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
/**company under **/
h1.comName {
  font-size:24px;
  border-bottom: solid 4px #007FC3;
  padding: 0 0 2%;
  margin:0 0 4%;
  font-weight: bold;
}

.comLogoBlock {display: table; margin-bottom: 5%}
.comLogoBlock .comLogo {display: table-cell; vertical-align: middle;border-radius: 6px; border:2px solid #e6e6e6;position: relative;width: 25%; text-align: center;}
.comLogoBlock .comLogo img {width: 90%;height: auto; line-height: 0; margin: 0 auto;}
.comLogoBlock .txt {display: table-cell; vertical-align: middle;font-size: 15px;width: 96%;float: right;}
h2.comTit {padding-left:40px;background-position: 0 14px;font-size: 1.3em;font-weight: bold;margin: 8% 0 4%}
h2.comMessage {background: url("../img/company/icon-h2-comMessage.png") no-repeat;}
h2.comAtmos {background: url("../img/company/icon-h2-comAtmos.png") no-repeat;}
h2.memMessage {background: url("../img/company/icon-h2-memMessage.png") no-repeat;}
h2.comPoint {background: url("../img/company/icon-h2-point.png") no-repeat;padding: 4px 0 10px 40px}
h2.recListTitle{
  background: url("../img/company/icon-h2-recList.png") no-repeat;
  background-position:0% 33%;
  padding: 4px 0 2% 70px;
  border-bottom: solid 4px #007FC3;
  margin:0 0 4%;
  font-size: 1.2rem;
  font-weight: bold;
}
.comMessageTxt {margin-bottom: 10%;}
h2.comInfo {background: url("../img/company/icon-h2-comAtmos.png") no-repeat;padding: 4px 0 10px 40px}

.atmosGraph {overflow: hidden; margin:0 auto 8%;border-radius: 6px; border:2px solid #e6e6e6;box-sizing: border-box; padding: 2% 2% 0;}
.atmosGraph dl {width: 100%;margin: 0 auto 2%;overflow: hidden;display: block;}
.atmosGraph dt {display: table-cell; vertical-align: middle;text-align: center;color: #fff; background:#6fbbff; width: 25%;}
.atmosGraph dd {display: table-cell;width: 80%;padding-left: 4%}

.memMessageList {overflow: hidden;margin: 0 0 8%;}
.memMessageList ul {overflow: hidden;width: 100%;margin: 0;padding: 0;}
.memMessageList li {
  list-style: none;
  border-radius: 8px;
  border:1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 2%;
  overflow: hidden;
  margin: 0 0 2%;
}
.memMessageList li figure {float: left; width: 300px; height: 200px; margin: 0; overflow: hidden;}
.memMessageList li .profTxt {float: right; width: 60%}
.memMessageList li .profTxt h3 {
  float: left;
  background: #006ebb;
  border-radius: 6px;
  color: #fff;
  padding: 10px 30px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 4%;
}
.memMessageList li .profTxt h4 {
  float: left;
  display: block;
  color: #006ebb;
  font-size: 18px;
  margin: 0 0 4%;
  width: 100%;
}
.memMessageList li .profTxt hr {
  float: left;
  display: block;
  width: 48px;
  height: 4px;
  background-color: #006ebb;
}
.memMessageList li .profTxt .readMore {
  float: left;
  display: block;
  font-size: 12px;
  color: #006ebb;
  text-decoration: underline;
  width: 100%;
  margin-top: 4%;
}
.memMessageList li .profTxt .readMore::after {content:url("../img/company/icon-readMore.png");position: relative; top: 1px;right:-6px;}

.comPointBlock {overflow: hidden; margin: 0 0 8%;}
.comPointBlock h3 {
  border-left: 5px solid #006ebb;
  padding-left: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.comPointBlock .block {overflow: hidden; margin: 0 0 8%;}
.comPointBlock figure {float: left;margin: 0 0; width: 48%;}
.comPointBlock .txt {float: right; margin: 0 0;width: 48%;}
.comPointBlock .txt p {margin: 0 0 2%}


.recList {}
.recList ul {overflow: hidden;width: 100%;margin: 0;padding: 0;}
.recList li {
  list-style: none;
  border-radius: 8px;
  border:1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 3%;
  overflow: hidden;
  margin: 0 0 3%;
  background-color: #fff;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.15));
}
.recList h3 {
  color: #006ebb;
  padding: 0 0 1%;
  margin: 0 0 2%;
  font-size: 1.2rem;
  font-weight: bold;
}
.recList .recDetail {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  padding: 2% 0 1%;
  margin-bottom: 2%
}
.recList figure {float: left;margin: 0 0; width: 40%;overflow: hidden;border-radius: 6px;}
.recList figure img {width: 100%; height: auto;}
.recList .txt {float: right; margin: 0 0;width: 58%;}
.recList dl {width: 100%;margin: 0 auto 2%;overflow: hidden;display: block;font-size: 12px;}
.recList dt {width: 25%;float: left;margin: 0;padding: 0 0 10px 0}
.recList dt span {
  padding-left: 25px;
  color: #006ebb;
  font-weight: bold;
}
.recList dd {width: 75%;float: right;margin: 0;}
.recList dl .place {background: url("../img/company/recIcon-01.png") no-repeat;}
.recList dl .access {background: url("../img/company/recIcon-02.png") no-repeat;}
.recList dl .type {background: url("../img/company/recIcon-03.png") no-repeat;}
.recList dl .salary {background: url("../img/company/recIcon-04.png") no-repeat;}
.recList dl .role {background: url("../img/company/recIcon-05.png") no-repeat;}
.recList dl .particular {background: url("../img/company/recIcon-06.png") no-repeat;}
@media screen and (max-width:640px){
  .recList figure {
    width: 100%;
    margin-bottom: 12px;
  }
  .recList .txt {
    width: 100%;
  }
  .recList dd p span br:nth-of-type(odd) {
    display: none;
  }
}

.recList .comment {
  display: flex;
}
.recList .comment .tx {
  background: url("../img/company/icon-appeal.png") no-repeat left top;
  width: 66%;
  margin-right: 4%;
}
.recList .comment .tx .appealTxt {
  padding-left: 30px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .05em;
}
.recList .btns {
  float: right;
  width: 30%;
  font-size: 12px;
  min-width: 248px;
}
.recList .keepBtn {
  float: left;
  border-radius: 8px;
  border:1px solid #f6728b;
  background: #ffe8e2 url("../img/company/icon-keep.png");
  background-repeat: no-repeat;
  background-position: 10% 56%;
  text-align: center;
  width:120px;
  height: 40px;
  padding: 10px 16px 10px 34px;
  font-weight: bold;
}
.recList .detailBtn {
  float: right;
  border-radius: 8px;
  border:1px solid #006ebb;
  background: #daeefc url("../img/company/icon-readMore.png");
  background-repeat: no-repeat;
  background-position: 94% 50%;
  text-align: center;
  width:120px;
  height: 40px;
  padding: 10px 20px;
  font-weight: bold;
}
@media screen and (max-width:640px){
  .recList .comment {
    display: block;
  }
  .recList .comment .tx {
    width: 100%;
    margin: 10px 0 8px;
  }
}

.comInfoTable {overflow: hidden;margin: 0 0 8%;}
.comInfoTable table{ width: 100%;display: table;font-size: 12px;border-spacing: 0;border-bottom: 1px solid #66a8d6;}
.comInfoTable table tr {}
.comInfoTable table tr:first-child {}
.comInfoTable th{background:#f2f2f2;vertical-align: top;padding: 2%;border-collapse:collapse;border-spacing: 0;text-align: left;border-top: 1px solid #66a8d6;box-sizing: border-box;display: table-cell;width: 20%;}
.comInfoTable td{vertical-align: top;padding: 2%;border-collapse: collapse;border-spacing: 0;color: #000;border-top: 1px solid #66a8d6;box-sizing: border-box;display: table-cell;width: 80%;}

.gmapResponsive {height: 0;overflow: hidden;padding-bottom: 56.25%;position: relative;}
.gmapResponsive iframe {position: absolute;left: 0;top: 0;height: 100%;width: 100%;}


/**company under side **/
h2.viewRankTitle {
  text-align: center;
  margin: 0 0 5%;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
h2.viewRankTitle::before {
  content: "";
  background-image: url("../img/company/icon-viewRanking.png") ;
  position: relative;
  top: -4px;
  right: 10px;
  display: inline-block;
  width: 34px;
  height: 32px;
  background-size: contain;
  vertical-align: middle;
}
.viewRank {
  width: 100%;
  margin: 0 0 64px
}
.viewRank ul {
  width: 100%;
  margin: 0 0;
  padding: 0 0
}
.viewRank li {
  position: relative;
  border:1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 10px;
  list-style: none;border-bottom: none;
}
.viewRank li:first-child .counter {
  background:url("../img/company/bg-viewRank01.png") no-repeat;
  width: 32px;
  height: 40px;
  position: absolute;
  top:0;
  left: 8px;
  text-align: center;
  background-size: contain;
}
.viewRank li:nth-child(2) .counter {
  background:url("../img/company/bg-viewRank02.png") no-repeat;
  width: 32px;
  height: 40px;
  position: absolute;
  top:0;
  left: 8px;
  text-align: center;
  background-size: contain;
}
.viewRank li:nth-child(3) .counter {
  background:url("../img/company/bg-viewRank03.png") no-repeat;
  width: 32px;
  height: 40px;
  position: absolute;
  top:0;
  left: 8px;
  text-align: center;
  background-size: contain;
}
.viewRank li:last-child {
  border-bottom:1px solid #e6e6e6;
}
.viewRank li .heading {
  overflow: hidden;
  margin-bottom: 10px;
}
.viewRank li figure {
  float: left;
  margin: 0 0;
  width: 80px;
  overflow: hidden;
}
.viewRank li figure img {width: 100%; height: auto;}
.viewRank li .tit {
  color: #006ebb;
  font-size: 13px;
  font-weight: bold;
  float: right;
  width: 164px;
}
.viewRank li dl {
  overflow: hidden;
  padding:0;
  font-size: 11px;
  margin-bottom: 8px;
}
.viewRank li dt {float: left; width: 30%;margin: 0 0;}
.viewRank li dt span {
  background:#006ebb;
  color: #fff;
  padding: 4px 10px;
  border-radius: 10px;
  line-height: 20px;
}
.viewRank li dd {float: right; width: 70%;margin: 0 0;}

@media screen and (max-width:640px){
  .viewRank li .tit {
    width: 72%;
  }
  .viewRank li dl {
    margin-bottom: 4px;
  }
}

h2.interviewRankTitle {
  text-align: center;
  margin: 0 0 5%;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
h2.interviewRankTitle::before {
  content: "";
  background-image: url("../img/company/icon-interviewRanking.png") ;
  position: relative;
  top: -4px;
  right: 10px;
  display: inline-block;
  width: 32px;
  height: 24px;
  background-size: contain;
  vertical-align: middle;
}
.interviewRank {width: 100%; margin: 0 0 8%}
.interviewRank ul {width: 100%; margin: 0 0;padding: 0 0}
.interviewRank li {position: relative;list-style: none;width: 92%; margin: 0 auto 4%;}
.interviewRank li figure {
  position: relative;
  margin: 0 0 2%;
  width: 100%;
  height: 144px;
  overflow: hidden;
}
.interviewRank li figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.interviewRank .tie {
  position: absolute;
  top: 100px;
  left: -17px;
  background: url("../img/company/tie-ranking.png") no-repeat;
  color: #fff;
  width: 68px;
  height: 32px;
}
.interviewRank .tie .name {width: 68px; text-align: center;padding: 14px 0 0; line-height: 1.2; font-size: 9px;}
.interviewRank .tit {
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
}

/**detail under side **/
/*
.detail-tit {margin-bottom: 5%}
.detail-tit h1 {
  margin: 0 0 2%;
  border-bottom: none;
  padding-bottom: 0;
}*/
.detail-tit .heasdAddress {padding: 0 0 4% 30px; background:url("../img/detail/icon-map.png") no-repeat 0% 13%;}

.headingWrap {background: #fff; border-radius: 9px;box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.1); padding: 4% 2%; margin: 0 auto 5%}
.detailHeading {overflow: hidden; width: 96%; margin: 0 auto 4%;}
.detailHeading .main-slide {
  float: left;
  width: 50%;
  margin-right: 4%;
}
.detailHeading .main-slide img {width: 100%;height: auto; line-height: 0;}
.detailHeading .txt {
  float: right;
  margin: 0 0;
  width: 46%;
}
/* ä¸€æ—¦PCã‚‚å¯¾å¿œ ã“ã“ã‹ã‚‰ */
.detailHeading .txt dd ul li{
  display: inline-block;
  color: #f6718b;
  border: 1px solid;
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 4px 4px 0;
}
/* ä¸€æ—¦PCã‚‚å¯¾å¿œ ã“ã“ã‹ã‚‰ */
@media screen and (max-width:640px){
  .detailHeading .main-slide {
    float: none;
    width: 100%;
  }
  .detailHeading .txt {
    width: 100%;
    margin-top: 12px;
  }
}
.detailHeading dl {width: 100%;margin: 0 auto 2%;overflow: hidden;display: block;font-size: 12px;}
.detailHeading dt {width: 25%;float: left;margin: 0;padding: 0 0 10px 0}
.detailHeading dt span {padding-left: 25px; color: #006ebb;}
.detailHeading dd {width: 75%;float: right;margin: 0;}
.detailHeading dl .role {background: url("../img/detail/recIcon-03.png") no-repeat;}
.detailHeading dl .salary {background: url("../img/detail/recIcon-02.png") no-repeat;}
.detailHeading dl .type {background: url("../img/detail/recIcon-01.png") no-repeat;}
.detailHeading dl .particular {background: url("../img/detail/recIcon-06.png") no-repeat;}
.detailHeading .btns {width: 100%;overflow: hidden;float: left;font-size: 12px;margin: 4% 0 0}
.detailHeading .keepBtn,
.detail-middle-btns .keepBtn {
  float: left;
  border-radius: 8px;
  border:1px solid #f9a3b0;
  /*background: #fff url("../img/detail/icon-keep-before.png");*/
  background-repeat: no-repeat;
  background-position: 10% 56%;
  background: #fff;
  text-align: center;
  width:116px;
  height: 40px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 12px;
  filter:drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.03));
}
.detailHeading .keepBtn .keeplist:after,
.detail-middle-btns .keepBtn .keeplist:after {
  content: "";
  display: inline-block;
  background-image: url("../img/common/iconNoKeep.svg");
  position: absolute;
  top: 32%;
  left: 22%;
  width: 18px;
  height: 16px;
  background-size: 18px;

}
.detailHeading .keepBtn .keeplist.keeping-img:after,
.detail-middle-btns .keepBtn .keeplist.keeping-img:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 32%;
  left: 17%;
  width: 18px;
  height: 16px;
  background-image: url("../img/common/iconKeep.svg");
  background-size: 18px;
}
.detailHeading .keepBtn .keeplist.nokeep-img:after,
.detail-middle-btns .keepBtn .keeplist.nokeep-img:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 32%;
  left: 22%;
  width: 18px;
  height: 16px;
  background-image: url("../img/common/iconNoKeep.svg");
  background-size: 18px;
}
.detailHeading .keepBtn a,
.detail-middle-btns .keepBtn a {
  display: block;
  font-size: 12px;
  padding: 10px 16px 10px 34px;
  position: relative;
}
.detailHeading .keepBtn a,
.detail-middle-btns .keepBtn a{
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.detailHeading input[type="submit"],
.detail-middle-btns  input[type="submit"] {
  position: relative;
  border-radius: 8px !important;
  background-color: #fd817f !important;
  background-image: url(../img/detail/sp-device.png);
  background-repeat: no-repeat !important;
  background-position: 16% 48% !important;
  text-align: center;
  background-size: 28px;
  width: 263px;
  height: 40px;
  margin-bottom: 8px;
  padding: 10px !important;
  font-size: 14px !important;
  color: #fff !important;
  cursor: pointer;
  filter:drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.15));
}
.detailHeading .detail-form-btn {
  position: relative;
  width: 303px;
}
.detailHeading .detail-lineBtn,
.detail-middle-btns .detail-lineBtn {
  display: inline-table;
  width:140px;
  height: 40px;
  padding: 0;
  margin-bottom: 12px;
}
.detailHeading .detail-lineBtn a,
.detail-middle-btns .detail-lineBtn a {
  display: block;
  border-radius: 8px !important;
  width: 48%;
  height: 40px;
  padding: 10px 10px !important;
  font-size: 12px !important;
  font-weight: bold;
  color: #fff !important;
  cursor: pointer;
  background: #79d078;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  filter:drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.1));
}
.detailHeading .detail-lineBtn img,
.detail-middle-btns .detail-lineBtn img {
  width: 18px;
}
.detail-middle-btns {
  margin-bottom: 15%;
}
@media screen and (min-width:641px){
  .detail-middle-btns {
    display: flex;
  }
  .detail-middle-btns .detail-lineBtn {
    width: 20%;
    margin-right: 20px;
  }
  .detail-middle-btns .detail-lineBtn a {
    width: 100%;
  }
  .detail-middle-btns .keepBtn {
    width:20%;
  }
  .detail-middle-btns .keepBtn a {
    width: 100%;
  }
  .detail-middle-btns .detail-form-btn {
    width: 60%;
  }
  .detail-middle-btns input[type="submit"] {
    width: 96%;
  }
}
@media screen and (max-width:640px){
  .detailHeading .keepBtn,
  .detail-middle-btns .keepBtn {
    display: inline-table;
    width: 38%;
    height: 50px;
    padding: 0;
    background-position: 11% 54%;
  }
  .detailHeading .keepBtn a,
  .detail-middle-btns .keepBtn a {
    position: relative;
    display: block;
    padding: 13px 16px 13px 34px;
  }
  .detailHeading input[type="submit"],
  .detail-middle-btns input[type="submit"] {
    width: 99%;
    height: 51px;
    margin-bottom: 8px;
    background-position: 22% 48% !important;
    font-size: 15px !important;
  }
  .detailHeading .btns,
  .detail-middle-btns .btns {
    margin: 5% 0 0;
  }
  .detailHeading .detail-lineBtn a,
  .detail-middle-btns .detail-lineBtn a {
    width: 100%;
    height: 51px;
  }
  .detailHeading .detail-lineBtn,
  .detail-middle-btns .detail-lineBtn {
    display: inline-table;
    width: 59%;
    height: 50px;
    padding: 0;
    margin-bottom: 12px;
  }
  .detailHeading .detail-form-btn,
  .detail-middle-btns .detail-form-btn {
    width: 100%;
  }
  .detailHeading .detail-form-btn::after,
  .detail-middle-btns .detail-form-btn::after {
    right: 72px;
    bottom: 20px;
  }
  .detailHeading .keepBtn .keeplist.keeping-img:after,
  .detail-middle-btns .keepBtn .keeplist.keeping-img:after  {
    left: 19%;
  }
}
.detailHeading input[type="submit"]:hover{opacity:0.7;}

.detailPoint { overflow: hidden;padding: 0 0 5%; border-bottom: 2px solid #e6e6e6; width: 96%; margin: 0 auto 4%;}
.detailPoint dl {width: 100%;margin: 0 auto 2%;overflow: hidden;display: block;}
.detailPoint dt {display: table-cell; vertical-align: middle;text-align: left;color: #fff;  width: 20%;}
.detailPoint dt span {background:#006ebb; padding: 15px 20px;border-radius: 30px;font-size: 10px;}
.detailPoint dd {display: table-cell;width: 80%;font-size: 13px;}
@media screen and (max-width:640px){
  .detailPoint dl {
    padding: 4%;
    background: #f5f5f5;
    border-radius: 8px;
  }
  .detailPoint dt {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    background: url("../img/toptit03.png") no-repeat 0% 13%;
    background-size: 20px;
    border-bottom: 1px dotted #ccc;
    padding: 2px 0 4px;
  }
  .detailPoint dt span {
    background: none;
    padding: 0 0px 8px 24px;
    color: #006ebb;
    font-weight: bold;
    font-size: 12px;
  }
}

.detailAtmosGraph {overflow: hidden; width: 96%; margin: 0 auto 0;}
.detailAtmosGraph .comAtmosTitle {
  padding: 0 0 3% 37px;
  background:url("../img/detail/icon-flag.png") no-repeat 0% 13%;
  font-size: 18px;
  font-weight: bold;
}
.detailAtmosGraph .graph {
  margin-bottom: 8px;
}
.detailAtmosGraph .graph th {width: 25%; padding: 10px 0; vertical-align: middle; text-align: center; color: #fff; background:#6fbbff; font-size: 12px;font-weight: normal;}
.detailAtmosGraph .graph td {width: 48%; padding: 0 1%}
.detailAtmosGraph .graph td img {width: 100%; height: auto; line-height: 0}


.requireList {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.requireList .requireListTitle {
  padding: 0 0 3% 46px;
  background:url("../img/detail/icon-doc.png") no-repeat 0% 0%;
  font-size: 18px;
  font-weight: bold;
}
.requireList table{
  width: 100%;
  display: table;
  font-size: 13px;
  border-spacing: 0;
  border-bottom: 1px solid #66a8d6;
  margin: 0 0 5%;
}
.requireList table tr {}
.requireList table tr:first-child {}
.requireList th{background:#f2f2f2;vertical-align: top;padding: 2%;border-collapse:collapse;border-spacing: 0;text-align: left;border-top: 1px solid #66a8d6;box-sizing: border-box;display: table-cell;width: 20%;}
.requireList td{vertical-align: top;padding: 2%;border-collapse: collapse;border-spacing: 0;color: #000;border-top: 1px solid #66a8d6;box-sizing: border-box;display: table-cell;width: 80%;}

.requireList .btns {
  width: 100%;
  overflow: hidden;
  margin: 10% 0;
}
.requireList .keepBtn {
  float: left;
  border-radius: 30px;
  background: #f6728b url("../img/detail/icon-keepWhite.png");
  background-repeat: no-repeat;background-position: 5% 50%;
  text-align: center;
  width:48%;
  height: 52px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.requireList .keepBtn a.keeplist{
  color: #fff;
  display: block;
  padding: 16px;
  line-height: 20px;
}
.requireList input[type="submit"] {
  float: right;
  border-radius: 30px !important;
  background: #ff9900 !important;
  text-align: center;
  width: 48%;
  height: 52px;
  padding: 15px 0 !important;
  font-size: 14px !important;
  color: #fff !important;
  cursor: pointer;}
.requireList input[type="submit"]:hover{opacity:0.7;}

.detailComInfo {overflow: hidden; width: 100%; margin: 0 auto 4%;}
.detailComInfo .detailComInfoTitle {
  padding: 0 0 3% 48px;
  background:url("../img/detail/icon-flag.png") no-repeat 0% 13%;
  font-size: 18px;
  font-weight: bold;

}
.detailComInfo table{
  width: 100%;
  display: table;
  font-size: 14px;
  border-spacing: 0;
  border-bottom: 1px solid #66a8d6;
  margin: 0 0 5%;
}
.detailComInfo table tr {}
.detailComInfo table tr:first-child {}
.detailComInfo th{background:#f2f2f2;vertical-align: top;padding: 2%;border-collapse:collapse;border-spacing: 0;text-align: left;border-top: 1px solid #66a8d6;box-sizing: border-box;display: table-cell;width: 30%;}
.detailComInfo td{vertical-align: top;padding: 2%;border-collapse: collapse;border-spacing: 0;color: #000;border-top: 1px solid #66a8d6;box-sizing: border-box;display: table-cell;width: 70%;}

.recommendRecList {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 8%;
}
.recommendRecList .baloon2{
  width: 480px;
}
.recommendRecList h2 {margin: 0 auto 2%;width: 100%; max-width: 542px;}
.recommendRecList .box {
  padding:0;
  display: flex;
  justify-content:space-between;
  margin-top: 48px;
}
.recommendRecList .box .item {
  margin: 0;
  width: 32%;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.recommendRecList .box .item a{
  display: block;
}
.recommendRecList .box .item figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.recommendRecList .box .item figure img{
  width: 100%;
  height: 220px;
  overflow: hidden;
  object-fit: cover;
}
.recommendRecList .box .item .para {
  padding: 6%;
  margin: 0 auto;
}
.recommendRecList .box .item h3 {
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding-bottom: 16px;
}
.recommendRecList .box .item .particularTxt {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 16px 0;
  color:#ff9900;
  font-size: .8rem;
}
.recommendRecList .box .item .pcommentTxt {
  border-bottom: 1px solid #e6e6e6;
  font-size: .8rem;
  padding: 16px 0;
  margin-bottom: 16px;
}
.recommendRecList .box .item .comTable {overflow: hidden;font-size: 10px;}
.recommendRecList .box .item .comTable table {}
.recommendRecList .box .item .comTable th {font-size: .8rem;font-weight: normal;vertical-align: top;text-align: left; width: 30%;}
.recommendRecList .box .item .comTable td {font-size: .8rem;vertical-align: top; width: 70%;}




/**detail under side **/
.side-col-recDetail .heading{
  padding: 24px;
}
.side-col-recDetail .heading h2 {font-size: 16px; margin-bottom: 2%}
.side-col-recDetail .heading .condition {font-size: 12px;}
.side-col-recDetail h3 {
  font-size: 16px;
  border-top: 1px solid #e6e6e6;
  padding: 24px 24px 0;
  margin: 0 0 0;
}
.side-col-recDetail .acdBlock {padding: 0 0;}
.side-col-recDetail .acd-check{display: none;}
.side-col-recDetail .acd-label{
  display: block;
  padding: 24px 24px 24px 56px;
  position: relative;
  cursor: pointer;
  border-top: 2px solid #e6e6e6;
  width: 100%;
  margin: 0 0;
}
.side-col-recDetail .acd-label.first-child {border-top: 0;}
.side-col-recDetail .acd-label.acd01 {
  background: url("../img/detail/sideMainTab-01.png") no-repeat 20px 50%;
}
.side-col-recDetail .acd-label.acd02 {
  background: url("../img/detail/sideMainTab-02.png") no-repeat 19px 50%;
}
.side-col-recDetail .acd-label.acd03 {
  background: url("../img/detail/sideMainTab-03.png") no-repeat 20px 50%;
}
.side-col-recDetail .acd-label.acd04 {
  background: url("../img/detail/sideMainTab-04.png") no-repeat 22px 50%;
}
.side-col-recDetail .acd-label:after{
  box-sizing: border-box;
  content:url("../img/detail/arrowOpen.png");
  display: block;
  position: absolute;
  right: 24px;
  top: 36%;
}
.side-col-recDetail .acd-check:checked + .acd-label:after{content:url("../img/detail/arrowClose.png"); display: block; position: absolute; right: 6%;top: 46%;}
.side-col-recDetail .acd-content{
  display: block;
  height: 0;
  opacity: 0;
  padding: 0 24px;
  transition: .5s; visibility: hidden;
}
.side-col-recDetail .acd-check:checked + .acd-label + .acd-content{opacity: 1; /*padding: 10px 10px;*/ visibility: visible; height: auto;}

.side-col-recDetail h4 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0 12px 32px;
}
.side-col-recDetail h4.sub01 {
  background: url("../img/detail/sideSub-01.png") no-repeat 0 34%;
}
.side-col-recDetail h4.sub02 {
  background: url("../img/detail/sideSub-02.png") no-repeat 0 30%;
}
.side-col-recDetail h4.sub03 {
  background: url("../img/detail/sideSub-03.png") no-repeat 0 30%;
}
.side-col-recDetail h4.sub04 {
  background: url("../img/detail/sideSub-04.png") no-repeat 0 28%;
}
.side-col-recDetail ul {
  margin: 0 0 16px 24px;
  font-size: 12px;
}
.side-col-recDetail ul li {
  list-style: none;
  padding: 0 0 14px;
}


/** Feature **/
.ftrWrap{
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.ftrWrap .ftrTtl{
  margin-bottom: 48px;
}
.ftrWrap .ftrTtl h1{
  font-size: 2.3rem;
  line-height: 1.4;
}
.ftrWrap .outline{
  border: 1px solid #006ebb;
  padding: 16px;
  margin: 0 auto 48px;
  font-size: .9rem;
  display: block;
  line-height: 1.5;
  width: 100%;
}
.ftrWrap .outline .outline__title{
  color: #006ebb;
  font-size: 1.4rem;
  font-weight: bold;
}
.ftrWrap .outline .outline__switch::before{
  color: #006ebb;
}
.ftrWrap h2#outline__1,
.ftrWrap h2#outline__2,
.ftrWrap h2#outline__3,
.ftrWrap h2#outline__4,
.ftrWrap h2#outline__5,
.ftrWrap h2#outline__6,
.ftrWrap h2#outline__7,
.ftrWrap h2#outline__8,
.ftrWrap h2#outline__9{
  font-size: 1.4rem;
  line-height: 1.4rem;
  background-color: #daeefc;
  padding: 16px;
  margin: 32px 0;
}
.ftrWrap h2#outline__2,
.ftrWrap h2#outline__3,
.ftrWrap h2#outline__4,
.ftrWrap h2#outline__5,
.ftrWrap h2#outline__6,
.ftrWrap h2#outline__7,
.ftrWrap h2#outline__8,
.ftrWrap h2#outline__9{
  margin-top: 48px;
}
.ftrWrap img{
  width: 100%;
  margin-bottom: 24px;
}
.ftrWrap .kaiwa-text-right,
.ftrWrap .kaiwa-text-left{
  margin: 0 12%;
  padding: 16px;
}
section.ftrOther{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 96px;
  margin-top: 96px;
  background: #daeefc;
}
section.ftrOther .sectionTitle.balloon1{
  position: relative;
  margin: 1.5em auto;
  padding: 18px 40px;
  width: 540px;
  background: #ff9900;
  filter: drop-shadow(8px 8px 0 #fff6e0);
}
section.ftrOther .sectionTitle.balloon1::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ff9900;
}
section.ftrOther .sectionTitle.balloon1 h2{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.ftr_other{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
}
.ftr_other .ftr_otherInr{
  width: 48.25%;
  margin-right: 3.5%;
  margin-bottom: 32px;
}
.ftr_other .ftr_otherInr:nth-child(2n){
  margin-right: 0;
}
.ftr_other .ftr_otherInr a{
  display: block;
}
.ftr_other .ftr_otherInr .ftrThumb{
  width: 100%;
  display: flex;
}
.ftr_other .ftr_otherInr .ftrThumb figure{
  min-width: 282px;
  height: 214px;
  margin: 0 24px 0 0;
}
.ftr_other .ftr_otherInr .ftrThumb figure img{
  width: 100%;
  height: 214px;
  overflow: hidden;
  object-fit: cover;
}
.ftr_other .ftr_otherInr .ftrThumb .ftrPara{
  display: block;
}
.ftr_other .ftr_otherInr .ftrThumb .ftrPara h3{
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 16px 0 16px;
}
.ftr_other .ftr_otherInr .ftrThumb .ftrPara .ftrParaHr{
  width: 48px;
  float: left;
  height: 4px;
  background-color: #006ebb;
}
.ftr_other .ftr_otherInr .ftrThumb .ftrPara .ftrParaInr{
  font-size: .95rem;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 24px 0 0;
  display: inline-block;
}
@media screen and (max-width:640px) {
  .kaiwa {
    width: 96%;
    margin: 0 auto 30px;
  }
  .ftrWrap {
    padding-bottom: 20px;
  }
  .ftrWrap .kaiwa-text-left {
    margin: 0 22% 0 2%;
  }
  .ftrWrap .kaiwa-text-right {
    margin: 0 2% 0 22%;
  }
  .ftrWrap .ftrTtl {
    padding: 0 2%;
    margin-bottom: 0;
  }
  .ftrWrap .ftrTtl h1 {
    font-size: 1.3rem;
    line-height: 26px;
    font-weight: bold;
  }
  section.ftrOther .sectionTitle.balloon1 {
    width: 90%;
    padding: 12px 20px;
  }
  .ftr_other .ftr_otherInr .ftrThumb {
    display: block;
  }
  section.ftrOther {
    margin-top: 0;
    padding-top: 30px;
  }
  .ftr_other .ftr_otherInr {
    width: 100%;
    margin-right: 0;
  }
  .ftr_other .ftr_otherInr .ftrThumb figure {
    margin: 0;
  }
  .ftr_other .ftr_otherInr .ftrThumb .ftrPara h3 {
    padding: 8px 0;
  }
  .ftr_other .ftr_otherInr .ftrThumb .ftrPara .ftrParaInr {
    display: block;
    text-align: right;
    padding: 14px 0 0;
  }
  .ftr_other {
    padding: 28px 5% 0;
  }
}

/* detail ãƒ•ãƒ­ãƒ¼ãƒ†ã‚£ãƒ³ã‚°ãƒœã‚¿ãƒ³ */
@media screen and (max-width:640px) {
  .detail-fixed-btns {
    background: rgba(0,0,0,0.4);
    bottom: 0;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 11;
    text-align: center;
    margin: 0 auto;
    padding: 8px 1%;
    box-sizing: border-box;
  }
  .detail-fixed-btns .keepBtn{
    position: relative;
    float: left;
    border-radius: 8px;
    border: 1px solid #f9a3b0;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    text-align: center;
    height: 40px;
    padding: 10px 16px 10px 16px;
    font-weight: bold;
    display: inline-table;
    width: 23%;
    height: 50px;
    padding: 0;
    box-sizing: border-box;
  }
  .detail-fixed-btns .keepBtn .keeplist:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 39%;
    width: 18px;
    height: 16px;
    background: url("../img/common/iconNoKeep.svg");
    background-size: 18px;
  }
  .detail-fixed-btns .keepBtn .keeplist.keeping-img:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 39%;
    width: 18px;
    height: 16px;
    background: url("../img/common/iconKeep.svg");
    background-size: 18px;
  }
  .detail-fixed-btns .keepBtn .keeplist.nokeep-img:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 39%;
    width: 18px;
    height: 16px;
    background: url("../img/common/iconNoKeep.svg");
    background-size: 18px;
  }
  .detail-fixed-btns .requireList .keepBtn a.keeplist {
    display: block;
    padding: 23px 10px 5px;
    color: #000;
    font-size: 12px;
    width: 105%;
  }
  .detail-fixed-btns .requireList input[type="submit"] {
    border-radius: 8px !important;
    background-color: #fd817f !important;
    background-image: url(../img/detail/sp-device.png) !important;
    background-position: 22% 44% !important;
    background-size: 32px !important;
    background-repeat: no-repeat !important;
    text-align: center;
    width: 50%;
    height: 40px;
    padding: 20px 10px 10px 20%!important;
    font-size: 15px !important;
    color: #fff !important;
    cursor: pointer;
    width: 100%;
    height: 51px;
  }
  .detail-fixed-btns .requireList form:after {
    position: absolute;
    top: 13%;
    right: 26%;
    content: "ç°¡å˜60ç§’â™ª";
    color: white;
    font-size: 10px;
  }
  .detail-fixed-btns .detail-lineBtn {
    width: 25%;
    margin-right: 6px;
  }
  .detail-fixed-btns .detail-lineBtn a {
    display: block;
    width: 100%;
    border-radius: 8px !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    font-weight: bold;
    color: #fff !important;
    cursor: pointer;
    background: #79d078;
    text-align: center;
    vertical-align: middle;
    filter:drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.05));
  }
  .detail-fixed-btns .detail-lineBtn img {
    display: block;
    width: 20px;
    margin: 0 auto;
  }
  .detail-fixed-btns .requireList {
    display: flex;
  }
  .detail-fixed-btns form {
    width: 50%;
    margin-right: 6px;
    position: relative;
  }
}
/*-----------------------------
å¿œå‹Ÿãƒ•ã‚©ãƒ¼ãƒ
-----------------------------*/
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="password"],
.wpcf7 input[type="search"],
.wpcf7 input[type="number"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="range"],
.wpcf7 input[type="date"],
.wpcf7 input[type="month"],
.wpcf7 input[type="week"],
.wpcf7 input[type="time"],
.wpcf7 input[type="datetime"],
.wpcf7 input[type="datetime-local"],
.wpcf7 input[type="color"],
.wpcf7 textarea {
  padding: 12px !important;
}

.wpcf7 input::-webkit-input-placeholder,
.wpcf7 input:-ms-input-placeholder,
.wpcf7 input::-ms-input-placeholder {
  color: #ccc !important;
}

.work-table th,
.work-table td {
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
}

.work-table th {
  width: 120px;
  font-weight: bold;
}

.work-table td {
  display: inline-block;
  width: 85%;
}

.work-table tr {
  display: block;
  padding-bottom: 18px;
}

.work-table .form-birth {
  display: flex;
}

.work-table .form-birth span.wpcf7-form-control-wrap.birth-year,
.work-table .form-birth span.wpcf7-form-control-wrap.birth-month {
  position: relative;
  border: 1px solid #ccc;
	border-radius: 2px;
	background: #ffffff;
  padding: 8px 10px 8px 8px;
	color: #666666;
}

.work-table .form-birth span.wpcf7-form-control-wrap.birth-month {
  margin-left: 12px;
}

.work-table .form-birth span::before {
	position: absolute;
	top: 41%;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #aaa;
	pointer-events: none;
}

.work-table .form-birth select {
  width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.work-table .form-birth select::-ms-expand {
    display: none;
}

.wpcf7-form-control-wrap {
  display: block;
}

span.wpcf7-list-item {
  margin: 0 12px 0 0 !important;
}

.work-auto-table {
  margin-bottom: 20px;
  padding: 12px;
  background: #ecf4f9;
}

.wpcf7 .work-auto-table {
  color: #666;
}

.wpcf7 .work-auto-table input {
  padding: 0 !important;
  border: none !important;
  background: none;
  color: #000;
  font-weight: bold;
}

.wpcf7 .work-auto-table .detail-url {
  display: none;
}

.work-table th {
  display: inline-table;
  margin-bottom: 4px;
  line-height: 1.6;
}

.work-table th span {
  color: white;
  margin-left: 4px;
  background: #f6718b;
  padding: 4px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 4px;
  vertical-align: text-bottom;
}

@media screen and (max-width:640px) {
  .work-table th,
  .work-table td {
    display: block;
    width: 100%;
  }
}

/*-----------------------------
è³‡æ–™è«‹æ±‚ãƒ•ã‚©ãƒ¼ãƒ
-----------------------------*/
#wpcf7-f866-p847-o1 .work-table,
#wpcf7-f865-p2-o1 .work-table{
  background: #f6f6f6;
  padding: 24px;
  margin-top: 0 !important;
}
#wpcf7-f866-p847-o1 .work-table th,
#wpcf7-f865-p2-o1 .work-table th {
  width: 100%;
}
#wpcf7-f866-p847-o1 .work-table td,
#wpcf7-f865-p2-o1 .work-table td {
  width: 99%;
}
#wpcf7-f866-p847-o1 .work-table a,
#wpcf7-f865-p2-o1 .work-table a {
  color: #007fc3;
  text-decoration: underline;
}
@media screen and (max-width:640px) {
  #wpcf7-f866-p847-o1 .work-table,
  #wpcf7-f865-p2-o1 .work-table {
    padding: 20px 12px;
  }
}

/*-----------------------------
keepä¸€è¦§ãƒšãƒ¼ã‚¸
-----------------------------*/
.page-id-897 .recList .ar-workbox {
  background: white;
}

.page-id-897 .viewRank {
  background: white;
}

@media screen and (max-width:640px) {
  .page-id-897 #jobs .btns {
    display: flex;
    float: none;
    margin-left: auto;
  }

  .page-id-897 #jobs .keepBtn {
    float: none;
    margin-right: 12px;
  }
  .page-id-897 #jobs .recList .detailBtn {
    float: none;
  }
}

/*-----------------------------
ãƒªã‚¹ãƒˆãƒšãƒ¼ã‚¸ã€keepä¸€è¦§ãƒšãƒ¼ã‚¸
-----------------------------*/
@media screen and (max-width:640px) {
  .post-type-archive-detail .recList dl,
  .page-id-897 .recList dl {
    margin: 0 auto;
  }
  .post-type-archive-detail .recList .txt,
  .page-id-897 .recList .txt {
    margin-bottom: 3%;
  }
}

/*-----------------------------
çµžã‚Šè¾¼ã¿æ¤œç´¢
-----------------------------*/
.search-overlay {
  position: relative;
  height: 100vh;
}

.search-overlay .search-overlay-ttl {
  display: flex;
  padding: 12px 8px;
  color: white;
  font-size: 14px;
  background: #006ebb;
}

.search-overlay .search-overlay-ttl .overlay-close {
  font-size: 12px;
}

.search-overlay .search-overlay-ttl .overlay-close i {
  font-size: 18px;
  vertical-align: top;
}

.search-overlay .search-overlay-ttl h2 {
  width: 80%;
  text-align: center;
}

.search-overlay h3 {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #006ebb;
}

.search-overlay h3 span {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  margin-left: 2px;
}

.search-overlay-box {
  margin: 0 2%;
  padding: 18px 0;
}

.search-overlay-box + .search-overlay-box {
  border-top: 1px dotted #ccc;
}

.search-overlay-box ul {
  padding: 0 12px;
}

.search-overlay-box ul li {
  display: inline-block;
  margin-right: 8px;
  line-height: 2.2;
}

.search-overlay-box ul li input {
  margin-right: 2px;
}

.search-overlay-box ul li .input-checked {
  font-size: 10px;
  color: white;
  background: #006ebb;
  padding: 4px;
  border-radius: 4px;
}

/* ã‚¢ã‚³ãƒ¼ãƒ‡ã‚£ã‚ªãƒ³ */
.accbox {
  padding: 0;
  max-width: 400px;
}

.accbox > label {
  display: block;
  margin: 1.5px 0;
  padding : 13px 12px;
  border-bottom: 1px solid #eee;
  color: #333;
  cursor :pointer;
  transition: all 0.5s;
}

.accbox .arrow{
  position: relative;
  padding: 8px 0 8px 4px;
  color: #000;
  font-size: 15px;
}

.accbox label span{
  margin-left: 4px;
  font-size: 10px;
  color: #f6718b;
}

.accbox > label.arrow::before {
  position: absolute;
  top: calc(50% - 18px);
  right: 2px;
  color: #ccc;
  font-family: Material Icons;
  font-size: 1.6rem;
  content: 'keyboard_arrow_down';
}

.accbox > input {
  display: none;
}

.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.cssacc:checked + label + .accshow {
  height: auto;
  padding: 5px;
  opacity: 1;
}

.accbox .accshow p {
  margin: 15px 10px}

.cssacc:checked + label:before {
  content: 'keyboard_arrow_up';
}

.accbox .accshow ul li{
  display: block;
}

.search-overlay-bottom {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background: #ccc;
}

.search-overlay-bottom .search-count {
  flex: 1;
  font-size: 12px;
  margin-right: 8px;
  text-align: center;
}
.search-overlay-bottom .search-count p {
  line-height: 1.2;
}
.search-overlay-bottom .search-count span {
  margin-right: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #006ebb;
}

.search-overlay-bottom .search-overlay-back-btn {
  flex: 1;
}

.search-overlay-bottom .search-overlay-back-btn a {
  display: block;
  width: 90%;
  padding: 12px 8px;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.search-overlay-bottom .search-overlay-sort-btn {
  flex: 2;
}

.search-overlay-bottom .search-overlay-sort-btn a {
  display: block;
  width: 100%;
  padding: 12px 8px;
  background: #fd817f;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* æ±‚äººä¸€è¦§ãƒšãƒ¼ã‚¸ çµžã‚Šè¾¼ã¿æ¤œç´¢ */
.search-sort ul {
  display: flex;
  margin-bottom: 12px;
  background: white;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.search-sort ul li {
  position: relative;
  flex: 1;
}

.search-sort ul li::after {
  position: absolute;
  top: calc(50% - 13px);
  right: 2px;
  color: #999;
  font-family: Material Icons;
  font-size: 1.2rem;
  content: "chevron_right";
}


.search-sort ul li span {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.search-sort ul li + li {
  border-left: 1px solid #e6e6e6;
}

.search-sort ul li a {
  display: block;
  padding: 8px 8px 8px 16px;
}


.search-sort ul li a img {
  width: 18px;
  vertical-align: bottom;
}

.search-sort ul li p {
  display: inline-block;
  line-height: 1.2;
  font-size: 11px;
}
