body{
    color:#1a1a1a;
    font-family:"游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}
@media screen and (min-width:641px){
    body{
        font-size:1em !important;
    }
    .spv{
        display:none;
    }
}
@media screen and (max-width:640px){
    body{
        font-size:0.9em !important;
    }
    .pcv{
        display:none;
    }
    .sp-pad{
        padding:0 2%;
    }
}
img{
    vertical-align:bottom;
}
a{
    text-decoration: none;
    color: #373737;
}
a:hover{
    opacity:0.7;
}
.clear{
    clear:both;
}


/*-----------------------------
WIDTH
-----------------------------*/
@media screen and (min-width:1150px){
    .top-search_wid{
        width: 100%;
        margin:0 auto;
    }
    .main-wid{
        width: 100%;
        margin:0 auto;
    }
    .forcom-wid{
        max-width:1050px;
        width: 100%;
        margin:0 auto;
    }
}
@media screen and (min-width:830px) and ( max-width:1149px){
    .top-search_wid{
        width: 98%;
        margin:0 auto;
    }
    .main-wid{
        width: 98%;
        margin:0 auto;
    }
    .forcom-wid{
        width: 98%;
        margin:0 auto;
    }
}
@media screen and (max-width:829px){
    .top-search_wid{
        width:100%;
    }
    .main-wid{
        width:100%;
        background:#f9f9f9;
    }
    .forcom-wid{
        width:96%;
        margin:0 2%;
    }
	.side-section{
		display: none;
	}
	.side-col-recDetail{
        display: none;
    }
}

/*-----------------------------
Column
-----------------------------*/
@media screen and (min-width:1200px){
    .main-col{
        float:left;
        width:864px;
        margin-right:2%;
    }
    .side-col{
        float:right;
        width:280px;
    }
/*------2019.10.02 shibata rev --------------*/
    .main-col-recDetail{
        float:right;
        width:864px;
        margin-left:2%;
    }
	.side-section{
		float:left;;
        width:280px;
	}
    .side-col-recDetail{
        background-color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        padding: 0;
		margin-bottom: 40px;
    }
	.side-section .sideSearchBox{

	}
/*------2019.10.02 shibata rev --------------*/
}
@media screen and (max-width:1000px){
    .main-col{
        width:100%;
    }
    .side-col{
        width:96%;
        margin:2%;
    }
/*------2019.10.02 shibata rev --------------*/
    .main-col-recDetail{
        width:100%;
    }
    .side-col-recDetail{
        width:96%;
        margin:2%;
    }
/*------2019.10.02 shibata rev --------------*/

}

/*-----------------------------
HEADER
-----------------------------*/

.logo{
    float:left;
    width:24%;
    margin-right:4%;
    margin-top:1.5%;
}
.pcmenubg{
    background:#007FC3;
    padding:5px 0;
}
.pcmenu{
    float:left;
    width:20%;
    height: 30px;
    text-align:center;
    position: relative;
}
.pcmenu:nth-child(1):after{
     content: url(../img/head-icon.svg);
     position: absolute;
     left: 55px;
     top: 4px;
     width:20px;
     z-index: 90;
}
.pcmenu:nth-child(2):after{
     content: url(../img/head-icon2.svg);
     position: absolute;
     left: 8px;
     top: 4px;
     width:20px;
     z-index: 90;
}
.pcmenu:nth-child(3):after{
     content: url(../img/head-icon3.svg);
     position: absolute;
     left: 22px;
     top: 4px;
     width:20px;
     z-index: 90;
}
.pcmenu:nth-child(4):after{
     content: url(../img/head-icon4.svg);
     position: absolute;
     left: 33px;
     top: 4px;
     width:20px;
     z-index: 90;
}
.pcmenu:nth-child(5):after{
     content: url(../img/head-icon5.svg);
     position: absolute;
     left: 25px;
     top: 4px;
     width:20px;
     z-index: 90;
}

.pcmenu a{
    color:#fff;
    display: block;
    padding-top:3px;
    width: 100%;
    height:100%;

}

@media screen and (min-width:830px){
    .tel{
        float:right;
        width:24%;
        margin-top:1.5%;
    }
}
@media screen and (max-width:829px){
    .tel{
        display:none;
    }
    .logo{
        float:left;
        width:50%;
        margin-left:24%;
        margin-top:2%;
        max-width:300px;
    }
    .splogo{
        float:left;
        width:45%;
        margin:2% 3%;
    }
    .sptel{
        float:right;
        width:25%;
        margin-top:2%;
        margin-right:2%;
    }
    .spmenu{
        float:right;
        width:10%;
        margin-right:3%;
        margin-top:1%;
    }
}


/*-----------------------------
TITLE
-----------------------------*/
.top-tit{
    border-top:solid 4px #007FC3;
    padding:0.8% 2%;
    background:#fbf9f9;
}
.top-tit h2{
    margin-block-start: 0;
    margin-block-end: 0;
    margin:0;
}

    .tit02{
        background-image: url(../img/toptit01.png);
    }
    .tit03{
        background-image: url(../img/toptit02.png);
    }
    .tit04{
        background-image: url(../img/toptit03.png);
    }
    .tit05{
        background-image: url(../img/toptit04.png);
    }
.tit06{
	background-image: url(../img/toptit05.png);
}
@media screen and (min-width:641px){
    .tit-def{
        padding: 0 0 0 28px;
		background-repeat: no-repeat;
        background-position: 0 5px;
        font-size:1.3em;
        font-weight:100;
        color:#262941;
    }
    .tit-def2{
        padding: 0 0 0 28px;
		background-repeat: no-repeat;
        background-position: 0 2px;
        font-size:1.3em;
        font-weight:100;
        color:#262941;
	}
}
@media screen and (max-width:640px){
    .tit-def,.tit-def2{
        padding: 5px 0 0 25px;
        background-repeat: no-repeat;
        background-position: 0 5px;
        font-size:1.4em;
        font-weight:100;
        color:#262941;
	}
}
.sidetit01{
    padding: 4px 0 0 25px;
    background-image: url(../img/toptit03.png);
    background-repeat: no-repeat;
    font-size:1em;
    font-weight:600;
    margin:0;
}

/*-----------------------------
TOP 4枠
-----------------------------*/
.frnt-wrap{font-size:0;}
.frnt-wrap2{font-size:0;}
@media screen and (min-width:641px){
    .top-inline:nth-child(odd){
        font-size:16px;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
        vertical-align: top;
        width:24.5%;
    }
    .top-inline:nth-child(even){
        font-size:16px;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
        vertical-align: top;
    }
    .kodawari-icon a{
        display: inline-block;
        width:15%;
        margin:0 0.5% 2% 0.5%;
    }
    .top-box_term{
        float:left;
        width:49%;
        margin:0.5% 1% 1.5% 0;
        border:solid 1px #ffa200;
        padding:2px;
        text-align:center;
        font-size:0.2em;
        border-radius:3px;
        color:#ffa200;
    }
    .top-box_area{
        float:left;
        width:40%;
        border:solid 1px #afafaf;
        padding:2px;
        text-align:center;
        font-size:0.2em;
    }
    .top-box_area2{
        float:left;
        width:57%;
        margin-left:3%;
        font-size:0.2em;
        margin-top:1%;
    }
}
@media screen and (max-width:640px){
    .top-inline{
        font-size:12px;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
        vertical-align: top;
    }
    .kodawari-icon a{
        display: inline-block;
        width:23%;
        margin:0 0.5% 0 0.5%;
    }
    .top-box_term{
        float:left;
        width:49%;
        margin:0.5% 1% 1.5% 0;
        border:solid 1px #ffa200;
        padding:2px;
        text-align:center;
        font-size:9px;
        border-radius:3px;
        color:#ffa200;
    }
    .top-box_area{
        float:left;
        width:40%;
        border:solid 1px #afafaf;
        padding:2px;
        text-align:center;
        margin-top:1%;
    }
    .top-box_area2{
        float:left;
        width:57%;
        margin-left:3%;
        font-size:1em;
        margin-top:1%;
    }
}





/*-----------------------------
業種から探す
-----------------------------*/
.gyosyu-flo{
    float:left;
    width:48%;
    margin-right:4%;
    margin-top:2%;
    margin-bottom:2%;
}
.gyosyu-flo2{
    float:left;
    width:48%;
    margin-top:2%;
    margin-bottom:2%;
}

/*-----------------------------
エリア
-----------------------------*/
    .top-map2 p{
    	color: #007FC3;
    }
@media screen and (min-width:641px){
    .top-map{
        float:left;
        width:36%;
        margin-right:8%;
    }
    .top-map2{
        float:left;
        width:56%;
        font-size:0.9em;
    }
}
@media screen and (max-width:640px){
    .top-map{
        display:none;
    }
    .top-map2{

    }
}

.top-map2 p{
    margin-top:2%;
    margin-bottom:0%;
    font-size:1.1em;
    font-weight:900;
}
.posi{
    position:relative;
}
.posimap{
    position:absolute;
    background:#fff;
    text-align: center;
    font-size:0.8em;
    border-radius:8px;
    border: 2px solid #006ebb;
	display: inline-block;
}
.posi1{
    top:11%;
    left:38%;
}
.posi2{
    top:38%;
    left:34%;
}
.posi3{
    top:62%;
    left:76%;
}
.posi4{
    top:82%;
    left:50%;
}
.posi5{
    top:54%;
    left:28%;
}
.posi6{
    top:58%;
    left:5%;
}
.posi7{
    top:90%;
    left:22%;
}
.posi8{
    top:102%;
    left:0%;
}
.posi1 a,.posi2 a,.posi3 a,.posi4 a,.posi5 a,.posi6 a,.posi7 a,.posi8 a{
    color:#000;
	font-weight: bold;
    display: block;
	width: 100%;
    padding: 8px 12px 9px;
}


/*-----------------------------
厳選人気の会社
-----------------------------*/
@media screen and (min-width:641px){
.top-gensen{margin-bottom: 10px;}
.top-gensen{
        width:32.666666666666%;
        margin:0.333333%;
        margin-bottom:10px;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
        font-size:12px;
}
}

    .flex-wrap{
        display: flex;
        align-items: stretch;
       -webkit-flex-wrap:wrap;
        flex-wrap: wrap;
    }

@media screen and (max-width:640px){
    .top-gensen{
        width:48%;
        margin:1%;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
        font-size:16px;
        vertical-align: top;
    }
}
.top-gensen_text{
    font-size:0.8em;
}
.top-gensen_term{
    float:left;
    width:49%;
    margin:0.5% 1% 1.5% 0;
    border:solid 1px #ffa200;
    padding:2px;
    text-align:center;
    font-size:9px;
    border-radius:3px;
    color:#ffa200;
}

/*-----------------------------
特集
-----------------------------*/
@media screen and (min-width:641px){
    .tokusyu-box{
        display:inline-block;
        width:48%;
        margin:0.5%;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
        vertical-align:top;
    }
}
@media screen and (max-width:640px){
    .tokusyu-box{
        margin:0.5%;
        border:solid 1px #afafaf;
        padding:5px;
        border-radius:3px;
    }
}
.tokuyu-img{
    float:left;
    width:32%;
    margin-right:3%;
}
.tokuyu-text{
    float:left;
    width:65%;
    font-size:0.7em;
}
.tokuyu-text div{
    font-size:1.1em;
    font-weight:900;
    margin-bottom:1%;
}
.gyosyu-label{
    position:absolute;
    display:inline-block;
    background:#FF8701;
    color:#fff;
    padding:3px 6%;
    font-size:0.7em;
    border-radius:5px;
    bottom:2px;
    left:2px;
}
.side-tokusyu{
    margin:0.5%;
    border:solid 1px #afafaf;
    padding:5px;
    border-radius:3px;
}

/*-----------------------------
コラム
-----------------------------*/
.column-img{
    float:left;
    width:22%;
    margin-right:3%;
}
.column-text{
    float:left;
    width:75%;
    font-size:0.8em;
}
.column-text .tagbox{
    font-size:0.9em;
    display:inline-block;
    border:solid 1px #afafaf;
    padding: 1px 5px;
}
.column-text div{
    font-size:1.1em;
    font-weight:900;
    margin-bottom:1%;
}
.column-more{
    display:inline-block;
    padding: 8px 3%;
    border-radius:20px;
    font-size:0.8em;
    background: #FF8800;
    color: white;
}

.archiveColumn{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 96px;
  background-color: #fff6e0;
}
.archiveColumn_inner{
  position: relative;
  max-width: 864px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
}
.archiveColumn_inner .item{
  width: 100%;
  margin-bottom: 32px;
}
.archiveColumn_inner .item a{
  display: block;
}
.archiveColumn_inner .item .columnThumb{
  width: 100%;
  display: flex;
}
.archiveColumn_inner .item .columnThumb figure{
  width: 282px;
  height: 213px;
  margin: 0 24px 0 0;
}
.archiveColumn_inner .item .columnThumb figure img{
  width: 100%;
  height: 214px;
  overflow: hidden;
  object-fit: cover;
}
.archiveColumn_inner .item .columnThumb .columnPara{
  display: block;
}
.archiveColumn_inner .item .columnThumb .columnPara .columnTag{
  font-weight: bold;
  padding-bottom: 24px;
}
.archiveColumn_inner .item .columnThumb .columnPara .archiveColumnHr{
  width: 48px;
  float: left;
  height: 4px;
  background-color: #f6728b;
}
.archiveColumn_inner .item .columnThumb .columnPara .columnParaInr h3{
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 24px 0 16px;
}
.archiveColumn_inner .item .columnThumb .columnPara .columnParaInr p{
  font-size: .8rem;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 0;
}
.archiveColumn .columnBtn{
  width: 320px;
  height: 56px;
  border-radius: 28px;
  background-color: #666666;
  position: relative;
  margin: 0 auto;
  padding: 14px 0 16px;
  text-align: center;
}
.archiveColumn .columnBtn a{
  display: block;
}
.archiveColumn .columnBtn span{
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
}
/*-----------------------------
インタビュー
-----------------------------*/
.archiveFeature{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 96px;
  background-color: #fff6e0;
}
.archiveFeature_inner{
  position: relative;
  max-width: 864px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
}
.archiveFeature_inner .item{
  width: 100%;
  margin-bottom: 32px;
}
.archiveFeature_inner .item a{
  display: block;
}
.archiveFeature_inner .item .featureThumb{
  width: 100%;
  display: flex;
  padding: 3%;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.archiveFeature_inner .item .featureThumb figure{
  max-width: 300px;
  max-height: 200px;
  margin: 0 3% 0 0;
}
.archiveFeature_inner .item .featureThumb figure img{
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
}
.archiveFeature_inner .item .featureThumb .featurePara{
  display: block;
  max-width: 500px;
}
.archiveFeature_inner .item .featureThumb .featurePara .featureTag{
  font-weight: bold;
  padding-bottom: 24px;
  margin-top: 1%;
}
.archiveFeature_inner .item .featureThumb .featurePara .featureTag span{
  padding: 2% 4%;
  background-color: #006ebb;
  font-size: .9em;
  color: #fff;
  border-radius: 4px;
}
.archiveFeature_inner .item .featureThumb .featurePara .archiveFeatureHr{
  width: 48px;
  float: left;
  height: 4px;
  background-color: #006ebb;
}
.archiveFeature_inner .item .featureThumb .featurePara .featureParaInr h3{
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 0 0 16px;
  color: #006ebb;
}
.archiveFeature_inner .item .featureThumb .featurePara .featureParaInr p{
  font-size: .8rem;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 0;
}
.archiveFeature_inner .item .featureThumb .featurePara .ar-tokuyu-date{
  font-size: .8em;
  display: block;
  padding: 48px 0 0;
  color: #ccc;
}

/*-----------------------------
旅行会社から探す
-----------------------------*/
@media screen and (min-width:641px){
    .top-company_flo{
        display:inline-block;
        width:22.75%;
        margin-right:3%;
        font-size:0.9em;
        vertical-align: top;
		margin-bottom: 3%;
		background-color: #fff;
		border: 1px solid #f2f2f2;
		border-radius: 8px;
		filter: drop-shadow(0px 8px 0px #0063bb);
    }
	.top-company_flo:nth-child(4n){
		margin-right: 0;
	}
}

/*-----------------------------
ボタン
-----------------------------*/
.btn01{
    width:50%;
    background-color:#afafaf;
    color:#fff;
    padding:2% 1%;
    border-radius:5px;
    font-size:1.3em;
    font-weight:900;
}








/*-----------------------------
こだわり
-----------------------------*/
.top-term li a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1em 0 20px;
    border:solid 1px #007FC3;
    border-radius: 3px;
    color: #007FC3;
    font-size: 11px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    width:100%;
    text-overflow: ellipsis;
    background-color: #007FC3;
    color: #fff;
}
@media screen and (min-width:801px){
    .top-term li {
        display: inline-block;
        margin: 0 2% 1% 2%;
        padding: 0;
        width:19%;
    }
    .term2 li {
        display: inline-block;
        margin: 0 0 .9em 2em;
        padding: 0;
        width:28%;
    }
}
@media screen and (max-width:800px){
    .top-term li {
        display: inline-block;
        margin: 0 2% 1% 2%;
        padding: 0;
        width:44%;
    }
    .top-term li a{
        font-size:10px;
        padding: 0 1em 0 10px;
    }
}

.top-term li a::before {
    position: absolute;
    top: 0px;
    right: 10px;
    content: '';
    width: 10px;
    height: 100%;
    /*border-width: 15px 15px 15px 0;*/
    border-right: dotted 1px white;
    -webkit-transition: .2s;
    transition: .2s;
}
.top-term li a::after {
    position: absolute;
    top: 46%;
    right: -5px;
    z-index: 2;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 100%;
}
.top-term li span {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.top-term li a:hover {
    background-color: #007FC3;
    color: #fff;
}
.top-term li a:hover::before {
    border-right-color: #007FC3;
    position: absolute;
    top: 0px;
    right: 10px;
    content: '';
    width: 10px;
    height: 100%;
    border-right: dotted 1px white;
}


/*-----------------------------
TOP検索
-----------------------------*/

.top-searchbg{
    background-image: url(https://leisure-ist.com/wp-content/uploads/slide.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    padding:2% 0;
}
.posi{
    position:relative;
}
.selectbox{
	float: left;
    width:23%;
    margin:0 1%;
}
.selectbox2{
	float: left;
    width:46%;
    margin:0 1%;
}
option {
    border-radius:10px;
}
.top-search{
    background:#fff;
    border-radius:10px;
    border:solid 1px #9e9e9e;
    padding:3% 2%;
}

.text-search{
    float:left;
    width:72%;
}
.text-searchbtn{
    float:left;
    width:26%;
    margin-left:2%;
}
.text-searchbtn input[type="submit"]{
    width:100%;
    height:100%;
    border-radius: 5px;
    background-color:#007FC3;
    color:#fff;
    padding: 12px 0;
    text-align:center;
    font-size:1.3em;
}



@media screen and (min-width:641px){
	.selectbox select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		border-radius:3px;
		border:solid 1px #9e9e9e;
		padding:12px;
		background: url(https://leisure-ist.com/wp-content/uploads/drop_arrow.png) right no-repeat;
		background-size: 20% 80%;
		background-color:#fff;
		box-shadow: 0 0 8px #CCC;
    }
    .selectbox2 select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		border-radius:3px;
		border:solid 1px #9e9e9e;
		padding:12px;
		background: url(https://leisure-ist.com/wp-content/uploads/drop_arrow.png) right no-repeat;
		background-size: 10% 80%;
		background-color:#fff;
		box-shadow: 0 0 8px #CCC;
	}
	#s{
		width:100%;
		border-radius:10px;
		border:solid 2px #007FC3;
		padding:10px;
	}
	span input[type="submit"]{
		width: 46% !important;
		border-radius: 10px !important;
        border: solid 1px #232323 !important;
        border-bottom: solid 6px #232323 !important;
		background-color:#fffb69 !important;
		padding: 15px 0 !important;
		margin-top:0.3em !important;
		font-size:1.5em !important;
        font-weight:900 !important;
        color: rgba(0, 0, 0, 0.8) !important;
	}
}
@media screen and (max-width:640px){
	.selectbox select,.selectbox2 select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		border-radius:10px;
		border:solid 3px #000;
		padding:7px;
		background: url(./img/selectbg.jpg) right 50% no-repeat;
		background-size: 12% 100%;
		background-color:#ccc;
	}
	#s{
		width:100%;
		border-radius:10px;
		border:solid 1px #007FC3;
		padding:10px;
	}
	input[type="submit"]{
		padding:20px;
		width: 100%;
		border-radius: 10px;
		border: solid 3px #000;
		color:#000;
		background-color:#ffcc00;
		padding: 8% 0;
		font-size:1.8em;
		font-weight:900;
	}
}
input[type="text"]:focus {
    outline: 0;
}
select:focus {
    outline: 0;
}




/*-----------------------------
スマホ
-----------------------------*/
.sp-main{
    width:96%;
    margin:0 2%;
}
.sp-main2{
    background:#fff;
    width:96%;
    margin:0 2%;
    padding:4% 2%;
    border-radius:5px;
}
.sp-tit{
    font-size:1.2em;
    font-weight:900;
    text-align:center;
    color:#171717;
}
.sp-number{
    font-size:1.2em;
    font-weight:900;
    text-align:center;
}
.sp-number span{
    color:#ff7002;
    font-size:2.4em;
}
.submenu{
    border:solid 1px #d8d8d8;
    border-radius:5px;
    padding:3% 3%;
}
.submenu-flo{
    float:left;
    width:31.333%;
    margin-right:3%;
    border-right:solid 1px #d8d8d8;
}
.submenu-flo2{
    float:left;
    width:31.333%;
}
.sptit01{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit01.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit02{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit02.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit03{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit03.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit04{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit04.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit05{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit05.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit06{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit06.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit07{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit07.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.sptit08{
    display:inline-block;
    padding: 4px 0 0 25px;
    background-image: url(../img/sptit08.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    color:#131313;
    font-size:1.2em;
    font-weight:600;
    margin:0;
}
.recent-post{
    float:left;
    width:25%;
    margin-right:4%;
}
.recent-post2{
    float:left;
    width:71%;
}
.recent-catch{
    font-size:1em;
    font-weight:900;
}
.recent-term{
    display:inline-block;
    padding:1% 3% 0.8%;
    background:#ff7002;
    color:#fff;
    border-radius:5px;
    font-size:0.8em;
}
.spmore {
    display: block;
    width: 100%;
    text-align: center;
    background: #ff7002;
    border-radius: 5px;
    padding:3% 0 2.5%;
}
.spmore p{
    color: #FFF;
    position: relative;
    font-size:1.1em;
    margin-block-start: 0;
    margin-block-end: 0;
}
.spmore p::before{
    content: "";
    position: absolute;
    top: 18%;
    left: 90%;
    width: 15px;
    height: 15px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}
.sp-newflo{
    float:left;
    width:48%;
    margin:2% 1%;
}


.top-termsp{
    list-style:none;
    margin:0 0 0 2%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}
.top-termsp li {
    float:left;
    margin: 0 0 2% 8%;
    padding: 0;
    width:40%;
}
.top-termsp li a {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    background-color: #ffa321;
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    width:100%;
    text-overflow: ellipsis;
}
.top-termsp li a::before {
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent #ffa321 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    -webkit-transition: .2s;
    transition: .2s;
}
.top-termsp li a::after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 100%;
}
.top-termsp li span {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*-----------------------------
PADDING MARGIN
-----------------------------*/
.padt2{
    padding-top:2%;
}
.padb4{
    padding-bottom:4%;
}
.padb8{
    padding-bottom:8%;
}
.padb18{
    padding-bottom:18%;
}
.mart1{
    margin-top:1%;
}
.mart2{
    margin-top:2%;
}
.mart3{
    margin-top:3%;
}
.mart4{
    margin-top:4%;
}
.mart6{
    margin-top:6%;
}
.mart8{
    margin-top:8%;
}
.marb1{
    margin-bottom:1%;
}
.marb2{
    margin-bottom:2%;
}
.marb3{
    margin-bottom:3%;
}
.marb4{
    margin-bottom:4%;
}
.marb6{
    margin-bottom:6%;
}
.marb8{
    margin-bottom:8%;
}

/*-----------------------------
taxt-align
-----------------------------*/
.ta-c {
  text-align: center;
}

/*-----------------------------
display
-----------------------------*/
.d-n {
  display: none;
}
.d-i {
  display: inline;
}
.d-b {
  display: block;
}
.d-ib {
  display: inline-block;
}
.d-tb {
  display: table;
}
.d-tbc {
  display: table-cell;
}
.d-tbr {
  display: table-row;
}
.d-f {
  display: flex;
}
.d-if {
  display: inline-flex;
}

/*-----------------------------
NAVIGATION
-----------------------------*/


#nav-drawer {
    position: relative;
  }
/*チェックボックス等は非表示に*/
.nav-unshown {
display:none;
}
/*アイコンのスペース*/
#nav-open {
width: 100%;
}

/*閉じる用の薄黒カバー*/
#nav-close {
display: none;/*はじめは隠しておく*/
position: fixed;
z-index: 99;
top: 0;/*全体に広がるように*/
left: 0;
width: 100%;
height: 100%;
background: black;
opacity: 0;
transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
overflow: auto;
position: fixed;
top: 0;
left: 0;
z-index: 9999;/*最前面に*/
width: 80%;/*右側に隙間を作る（閉じるカバーを表示）*/
max-width: 330px;/*最大幅（調整してください）*/
height: 100%;
background: #fff;/*背景色*/
opacity:0.9;
transition: .3s ease-in-out;/*滑らかに表示*/
-webkit-transform: translateX(-105%);
transform: translateX(-105%);/*左に隠しておく*/
text-align:left;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
display: block;/*カバーを表示*/
opacity: .5;
}
#nav-input:checked ~ #nav-content {
-webkit-transform: translateX(0%);
transform: translateX(0%);/*中身を表示（右へスライド）*/
box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.spnv{
    border-bottom:solid 1px #4f4f4f;
    padding:4% 2%;
    font-size:0.9em;
}


/*-----------------------------
SIDEBAR
-----------------------------*/
.side-flo{
    float:left;
    width:30%;
    margin-right:4%;
}
.side-flo2{
    float:left;
    width:66%;
    font-size:0.8em;
}

/*-----------------------------
Footer
-----------------------------*/
.top-footup{
    background:url("../img/top/footupBg.jpg");
    background-size: cover;
    background-position:center;
    padding:4% 0;
    font-size:0.9em;
	font-weight: bold;
    line-height:180%;
}
.top-footup-inr{
    max-width: 960px;
    margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.top-footup-inr p{
    margin-bottom: 40px;
}
.top-footup-inr p.top-footup-inr-l{
    width: 30%;
	display: inline-block;
	margin-right: 6%;
}
.top-footup-inr-l img{
    width: 100%;
}
.top-footup-inr p.top-footup-inr-r{
	width: 64%;
}


@media screen and (min-width:641px){
    .site-footer{
        border-top:solid 1px #ccc;
        text-align:center;
        padding:10px 0;
        font-size:0.8em;
    }
    .site-info{
        background: #131313;
        color: #fff;
        font-size: 0.4em;
        text-align: right;
        padding:3px 0;
    }
    .foot-navi{
        float:left;
        width:30.333%;
        margin:2% 1.5%;
        text-align:left;
        line-height:200%;
    }
}
@media screen and (max-width: 767px) {
	.top-footup{
	  background: #f2f2f2;
	  padding: 6% 0;
	  font-weight: normal;
	}
	.top-footup-inr{
	  max-width: 92%;
	}
	.top-footup-inr p{
	  margin-bottom: 20px;
	}
	.top-footup-inr p.top-footup-inr-l{
	  display: none;
	}
	.top-footup-inr p.top-footup-inr-r{
	  width: 100%;
	}
	.site-info{
	  font-size: .7em;
	  padding: 3%;
	  text-align: left;
	}
	.site-footer .main-wid{
		  background: #2e2e2e;
		  padding: 5% 4%;
	}
	.site-footer .main-wid .foot-navi a{
	     color: #fff;
	     line-height: 32px;
		  font-size: normal;
	}
}



/*-----------------------------
Pager
-----------------------------*/
.pager{
    margin-bottom: 20px;
    text-align:center
}

a.page-numbers,
.pager .current{
    background-color: #edede3;
    border: solid 1px #aaaaaa;
    border-radius:5px;
    padding:5px 8px;
    margin:0 2px;
}

.pager .current{
    background-color: #000000;
    border: solid 1px #000000;
    color: #ffffff;
}

.pager a:hover{
    color: #ffffff;
    border: solid 1px #000000;
    background-color: #000000;
}

.gyosya-th{
    width:25%;
    border-right:solid 1px #B6E5FF;
    border-top:solid 1px #B6E5FF;
    border-bottom:solid 3px #017EC3;
    padding:5px 10px;
}
.gyosya-th1{
    width:25%;
    border-left:solid 1px #B6E5FF;
    border-right:solid 1px #B6E5FF;
    border-top:solid 1px #B6E5FF;
    border-bottom:solid 3px #017EC3;
    padding:5px 10px;
}
.term-td{
    vertical-align:top;
    border-right:solid 1px #B6E5FF;
    border-bottom:solid 1px #B6E5FF;
}
.term-td1{
    vertical-align:top;
    border-right:solid 1px #B6E5FF;
    border-left:solid 1px #B6E5FF;
    border-bottom:solid 1px #B6E5FF;
}
.term-td table td,.term-td1 table td{
    padding:5px 10px;
    font-size:12px;
}
.term-bg{
    background:rgb(182, 229, 255);
    border-top:solid 1px #017EC3;
    border-bottom:solid 1px #017EC3;
}


/*タブ切り替え全体のスタイル*/
.tabs {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
}
  /*タブのスタイル*/
  .tab_item {
    width: 25%;
    height: auto;
    border-bottom: 3px solid #017EC3;
    background-color: #d9d9d9;
    line-height: auto;
    font-size: 10px;
    padding:10px 5px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 10px 10px;
    clear: both;
    overflow: hidden;
  }
  /*選択されているタブのコンテンツのみを表示*/
  #agent:checked ~ #agent_content,
  #online:checked ~ #online_content,
  #hotel:checked ~ #hotel_content,
  #ryokan:checked ~ #ryokan_content {
    display: block;
  }
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #017EC3;
    color: #fff;
  }


/*サーチボックス*/
.main-col-recDetail .searchBox{
  width: 100%;
  height: 254px;
  background-color: rgba(255,255,255,0.86);
  filter: drop-shadow(0 4px 8px rgba(0,42,48,0.3));
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}
.main-col-recDetail .searchBox .searchBoxInr{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 24px;
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems{
  width: 32%;
  height: 120px;
  border-radius: 8px;
  border: 2px solid #006ebb;
  background-color: #daeefc;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.15, #b6d9fc), color-stop(.15, transparent),color-stop(.5, transparent), color-stop(.5, #b6d9fc),color-stop(.65, #b6d9fc), color-stop(.65, transparent),to(transparent));
  -webkit-background-size: 7px 7px;
  position: relative;
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems .searchIcon{
  width: 30%;
  margin: 14px auto;
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems .btnBottom{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  background-color: #006ebb;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: background-color .4s cubic-bezier(.19,1,.22,1);
  transition: background-color .4s cubic-bezier(.19,1,.22,1);
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt{
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  line-height: 20px;
  letter-spacing: .05em;
  width: 90%;
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt span{
  font-size: 1rem;
  margin: 0 4px;
}
.main-col-recDetail .searchBox .searchBoxSubmit{
  width: 320px;
  height: 56px;
  border-radius: 28px;
  border: 2px solid #006ebb;
  background-color: #daeefc;
  position: relative;
}
.main-col-recDetail .searchBox .searchBoxSubmit .searchBoxSubmitInr{
  width: 100%;
}
.main-col-recDetail .searchBox .searchBoxSubmit .searchBoxSubmitInr .searchBoxSubmitTxt{
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 20px;
}
.main-col-recDetail .searchBox .searchBoxSubmit .searchBoxSubmitInr .searchBoxSubmitIcon{
  width: 20px;
  position: absolute;
  right: 24px;
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: .9em;
  border-radius: 0;
}
.main-col-recDetail .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt select::-ms-expand {
    display: none;
}
