@charset "UTF-8";
/* CSS Document */

/* =========================================================
 * fvの設定
========================================================= */
section.fv{
  position: relative;
}
.fvInner{
  position: absolute;
  z-index: 2;
  width: 640px;
  top: 40px;
  left: calc(50% - 320px);  
}
.fvInner .fvTitle{
  width: 520px;
  margin: 0 auto 40px;
  position: relative;
}
.fvInner .searchBox{
  width: 100%;
  height: 254px;
  background-color: rgba(255,255,255,0.86);
  filter: drop-shadow(0 4px 8px rgba(0,42,48,0.3));
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}
.fvInner .searchBox .searchBoxInr{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 24px;
}
.fvInner .searchBox .searchBoxInr .btnSearchItems{
  width: 32%;
  height: 120px;
  border-radius: 8px;
  border: 2px solid #006ebb;
  background-color: #daeefc;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.15, #b6d9fc), color-stop(.15, transparent),color-stop(.5, transparent), color-stop(.5, #b6d9fc),color-stop(.65, #b6d9fc), color-stop(.65, transparent),to(transparent));
  -webkit-background-size: 7px 7px;
  position: relative;
}
.fvInner .searchBox .searchBoxInr .btnSearchItems .searchIcon{
  width: 30%;
  margin: 14px auto;
}
.fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  background-color: #006ebb;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: background-color .4s cubic-bezier(.19,1,.22,1);
  transition: background-color .4s cubic-bezier(.19,1,.22,1);
}
.fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt{
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  line-height: 20px;
  letter-spacing: .05em;
  width: 90%;
}
.fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt span{
  font-size: 1rem;
  margin: 0 4px;
}
.fvInner .searchBox .searchBoxSubmit{
  width: 320px;
  height: 56px;
  border-radius: 28px;
  border: 2px solid #006ebb;
  background-color: #daeefc;
  position: relative;
}
.fvInner .searchBox .searchBoxSubmit .searchBoxSubmitInr{
  width: 100%;
}
.fvInner .searchBox .searchBoxSubmit .searchBoxSubmitInr .searchBoxSubmitTxt{
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 20px;
}
.fvInner .searchBox .searchBoxSubmit .searchBoxSubmitInr .searchBoxSubmitIcon{
  width: 20px;
  position: absolute;
  right: 24px;
}
.fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: .9em;
  border-radius: 0;
}
.fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt select::-ms-expand {
    display: none;
}
.topSlider{
  height: 508px;
}
.topSlider .fvGradient{
  width: 100%;
  height: 508px;
  position: absolute;
  z-index: 1;
  background: -moz-radial-gradient(rgba(255,255,255,0.1),rgba(0,0,0,0.2));
  background: -webkit-radial-gradient(rgba(255,255,255,0.1),rgba(0,0,0,0.2));
  background: radial-gradient(rgba(255,255,255,0.1),rgba(0,0,0,0.2));
}
.slide01 ul,
.slide02 ul{
  height: 254px;
  margin: 0;
  display: flex!important;
}
.slide01 ul li img,
.slide02 ul li img{
  width: 340px;
  height: 254px;
  margin: 0;
}
.fv-subIllust{
  z-index: 888;
}
.fv-subIllust .fv-star01{
  width: 6vw;
  top: 100px;
  left: 7vw;
  position: absolute;
  filter: drop-shadow(4px 4px 12px #6e6e6e);
}
.fv-subIllust .fv-star02{
  width: 6vw;
  top: 340px;
  right: 7vw;
  position: absolute;
  filter: drop-shadow(4px 4px 12px #6e6e6e);
}
.fv-subIllust .fv-airplane{
  width: 10vw;
  top: 70px;
  right: 16vw;
  position: absolute;
  filter: drop-shadow(4px 4px 12px #6e6e6e);
}
@media screen and (max-width: 767px) {
    .fvInner{
      z-index: 2;
      width: 94%;
      top: 16vh;
      left: 3%;  
    }
    .fvInner .fvTitle{
      width: 100%;
      margin: 0 auto 16vh;
      position: relative;
    }
    .fvInner .searchBox{
      width: 100%;
      height: auto;
      padding: 16px;
    }
    .fvInner .searchBox .searchBoxInr{
      margin-bottom: 16px;
    }
    .fvInner .searchBox .searchBoxInr .btnSearchItems{
      height: 88px;
      border-radius: 4px;
    }
    .fvInner .searchBox .searchBoxInr .btnSearchItems .searchIcon{
      width: 40%;
    }
    .fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom{
      height: 24px;
    }
    .fvInner .searchBox .searchBoxInr .btnSearchItems .btnBottom .btnBottomTxt{
      font-size: 0.85rem;
      line-height: 16px;
    }
    .fvInner .searchBox .searchBoxSubmit{
      width: 60%;
      height: 48px;
      border-radius: 24px;
    }
    .fvInner .searchBox .searchBoxSubmit .searchBoxSubmitInr .searchBoxSubmitTxt{
      font-size: 0.9rem;
    }
	.fv-subIllust .fv-star01{
      width: 16vw;
      top: 30px;
      left: 7vw;
    }
    .fv-subIllust .fv-star02{
      width: 16vw;
      top: 310px;
      right: 7vw;
    }
    .fv-subIllust .fv-airplane{
      width: 28vw;
      top: 50px;
      right: 10vw;
    }
}
/* =========================================================
 * Title共通
========================================================= */
.sectionTitle.balloon1 {
  position: relative;
  margin: 1.5em auto;
  padding: 18px 40px;
  width: 240px;
  background: #ff9900;
  filter: drop-shadow(8px 8px 0 #fff6e0)
}
.sectionTitle.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ff9900;
}
.sectionTitle.balloon2 {
  position: relative;
  margin: 1.5em auto;
  padding: 18px 40px;
  width: 348px;
  background: #006ebb;
  filter: drop-shadow(8px 8px 0 #fff6e0)
}
.sectionTitle.balloon2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #006ebb;
}
.sectionTitle.balloon3 {
  position: relative;
  margin: 1.5em auto;
  padding: 18px 40px;
  width: 300px;
  background: #ff9900;
  filter: drop-shadow(8px 8px 0 #fff6e0)
}
.sectionTitle.balloon3:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ff9900;
}

.sectionTitle.balloon4 {
  position: relative;
  margin: 1.5em auto;
  padding: 18px 40px;
  width: 240px;
  background: #f6728b;
  filter: drop-shadow(8px 8px 0 #fff)
}
.sectionTitle.balloon4:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #f6728b;
}
.sectionTitle.balloon1 h2,
.sectionTitle.balloon2 h2,
.sectionTitle.balloon3 h2,
.sectionTitle.balloon4 h2{
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
/* =========================================================
 * section popular
========================================================= */
* {
min-height:0;
min-width : 0;
}
section.popular{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  margin-bottom: 96px;
}
.popularInner{
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}
.popular .popularCardlist{
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-top: 48px;
}
.popular .popularCardlist .popularCard{
  max-width: 31%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 20px;
  min-height: 300px;
}
.popular .popularCardlist .popularCard a{
  text-decoration: none;
  display: block;
}
.popular .popularCardlist .popularCard .popularCard_title{
  background-color: #006ebb;
  padding: 16px;
  border-radius: 8px 8px 0 0 ;
}
.popular .popularCardlist .popularCard .popularCard_title h3{
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  color: #fff;
}
.popular .popularCardlist .popularCard .popularCard_inner{
  padding: 16px;
  display: flex;
  flex-direction: row;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_photo{
  width: 45%;
  margin-right: 5%;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_photo figure{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_photo figure img{
  width: 100%;
  height: 120px;
  overflow: hidden;
  object-fit: cover;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info{
  width: 45%;
  font-size: .7rem;
  letter-spacing: .05em;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info ul.popularCard_inner_place,
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info ul.popularCard_inner_occupation{
  margin-bottom: 16px;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info ul li{
  color: #000;
  padding: 0 0 0 10px;
}
.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info ul li.item{
  background-color: #006ebb;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
  border-radius: 20px;
  margin-bottom: 6px;
}
.popular .popularCardlist .popularCard .popularCard_inner_tag{
  margin: 0 16px 16px;
  border-top: 1px solid #e6e6e6;
  padding-top: 16px;
  color: #ff9900;
  font-size: .7rem;
}
@media screen and (max-width: 767px){
	section.popular{
	  margin-bottom: 60px;
	  padding-top: calc(100vh - 600px);
	}
	.popular .popularCardlist .popularCard{
      margin: 0 6px;
      min-height: 460px;
    }
	.popular .popularCardlist .popularCard .popularCard_inner{
      padding: 0;
	   flex-direction: column;
    }
	.popular .popularCardlist .popularCard .popularCard_title{
		padding: 8px;
	}
	.popular .popularCardlist .popularCard .popularCard_title h3{
	  font-size: .9rem;
	  line-height: 1.2;
	}
    .popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_photo{
      width: 100%;
      margin-right: 0;   
      margin-bottom: 10px;
    }
	.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_photo figure{
      height: 130px;
    }
    .popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_photo figure img{
      height: 130px;
    }
    .popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info{
      width: 94%;
	  margin: 0 auto 10px;
      font-size: .9rem;
    }
	.popular .popularCardlist .popularCard .popularCard_inner .popularCard_inner_info ul li.item{
      background-color: #fff;
      padding: 0;
      color: #006ebb;
      font-weight: bold;
      line-height: 16px;
      margin-bottom: 6px;
    }
	.popular .popularCardlist .popularCard .popularCard_inner_tag{
	  font-size: .9rem;
	}

}
/* =========================================================
 * column 共通
========================================================= */
.main-wid{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: block;
  overflow: hidden;
  clear: both;
}
.main-col{
  width: 864px;
  float: left;
  display: block;
}
.topMain_SectionTitle{
  display: block;
  overflow: hidden;
  margin-bottom: 32px;
}
.topBtn_goIndex{
  float: right;
  padding: 0 24px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-size: .85rem;
}
.topBtn_goIndex a{
  color: #000;
  text-decoration: none;
}

/* =========================================================
 * column 個別
========================================================= */
section.topMainBanner{
  width: 100%;
  margin-bottom: 96px;
}
section.topSearchOccupation{
  width: 100%;
  margin-bottom: 72px;
}
.topSearchOccupation .topMain_SectionTitle h2{
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  line-height: 40px;
  padding: 0 0 0 56px;
}
.topSearchOccupation .topMain_SectionTitle h2::before{
  content: "";
  background-image: url("../img/common/iconOccupation.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topMain_SectionInr{
  width: 100%;
  display: flex;
  padding: 32px;
  background-color: #f3fafc;
  filter: drop-shadow(0px 8px 0px #006ebb);
}
.topMain_SectionInr ul li{
  margin-bottom: 24px;
  display: table;
  width: 100%;
}
.topMain_SectionInr ul li.tMSa::before{
  content: "";
  background-image: url("../img/top/icon_agent_b.png") ;
  position: relative; 
  display: table-cell;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}
.topMain_SectionInr ul li.tMSo::before{
  content: "";
  background-image: url("../img/top/icon_online_b.png") ;
  position: relative; 
  display: table-cell;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}
.topMain_SectionInr ul li.tMSh::before{
  content: "";
  background-image: url("../img/top/icon_hotel_b.png") ;
  position: relative; 
  display: table-cell;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}
.topMain_SectionInr ul li.tMSr::before{
  content: "";
  background-image: url("../img/top/icon_ryokan_b.png") ;
  position: relative; 
  display: table-cell;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}
.topMain_SectionInr .topMain_SectionInr_agent,
.topMain_SectionInr .topMain_SectionInr_online,
.topMain_SectionInr .topMain_SectionInr_hotel,
.topMain_SectionInr .topMain_SectionInr_ryokan{
  display: table-cell;
  padding-left: 24px;
}
.topMain_SectionInr ul li .topMain_company_head_agent,
.topMain_SectionInr ul li .topMain_company_head_online,
.topMain_SectionInr ul li .topMain_company_head_hotel,
.topMain_SectionInr ul li .topMain_company_head_ryokan{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
  border: none;
  padding: 0;
}
.topMain_company_body{
  font-size: .9rem;
}
section.topSearchArea{
  width: 100%;
  margin-bottom: 72px;
}
.topSearchArea .topMain_SectionTitle h2{
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  line-height: 40px;
  padding: 0 0 0 56px;
}
.topSearchArea .topMain_SectionTitle h2::before{
  content: "";
  background-image: url("../img/common/iconPlace.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topSearchArea .topMain_SectionTitle h2::after{
  content: none;
}
.topSearchArea .topMain_SectionInr .top-map{
  width: 46%;
}
.topSearchArea .topMain_SectionInr .top-map2{
  width: 46%;
}
section.topSearchStatus{
  width: 100%;
  margin-bottom: 72px;
}
.topSearchStatus .topMain_SectionTitle h2{
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  line-height: 40px;
  padding: 0 0 0 56px;
}
.topSearchStatus .topMain_SectionTitle h2::before{
  content: "";
  background-image: url("../img/common/iconStatus.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topSearchOccupation .topMain_SectionTitle h2::after{
  content: none;
}
.topMain_columnInr{
  width: 100%;
}
.topMain_columnInr ul.topMain_columnInr_lists{
  list-style: none;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-between;
}
.topMain_columnInr ul.topMain_columnInr_lists li{
  width: 32%;
  margin-right: 2%;
  margin-bottom: 24px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background-color: #fff;
  filter: drop-shadow(0px 8px 0px #006ebb);
  display: inline-block;
}
.topMain_columnInr ul.topMain_columnInr_lists li:nth-child(3n){
  margin-right: 0;
}

.topMain_columnInr ul.topMain_columnInr_lists li a{
  padding: 16px 24px;
  display: block;
  width: 100%;
}
section.topSearchStatus .topMain_columnInr ul.topMain_columnInr_lists li a::before{
  content: "";
  background-image: url("../img/common/icon_status_flug.png");
  width: 30px;
  height: 26px;
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
}
section.topSearchCommitment{
  width: 100%;
  margin-bottom: 72px;
}
.topSearchCommitment .topMain_SectionTitle h2{
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  line-height: 40px;
  padding: 0 0 0 56px;
}
.topSearchCommitment .topMain_SectionTitle h2::before{
  content: "";
  background-image: url("../img/common/iconCommitment.png") ;
  position: absolute; 
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 7px;
}
.topSearchCommitment .topMain_SectionTitle h2::after{
  content: none;
}
section.topSearchCommitment .topMain_columnInr ul.topMain_columnInr_lists li a::before{
  content: "";
  background-image: url("../img/common/icon_commitment.png");
  width: 38px;
  height: 24px;
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
}
section.topSearchKeyword{
  width: 100%;
  margin-bottom: 72px;
}
.topSearchKeyword .topMain_SectionTitle h2{
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  line-height: 40px;
  padding: 0 0 0 56px;
}
.topSearchKeyword .topMain_SectionTitle h2::before{
  content: "";
  background-image: url("../img/common/iconSearch.png") ;
  position: absolute; 
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 8px;
}
.topSearchKeyword .topMain_SectionTitle h2::after{
  content: none;
}
.topSearchKeyword form .text-search{
  width: 50%;
}
.topSearchKeyword form .text-search #s{
  border-radius: 0;
  border: 2px solid #0006ebb;
  background-color: #daeefc;
  padding: 10px 24px 12px;
  height: 52px;
}
.topSearchKeyword form .text-searchbtn{
  width: 120px;
  height: 52px;
}
.topSearchKeyword form .text-searchbtn input[type="submit"]{
  border-radius: 26px;
  background-color: #0006ebb;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
}
@media screen and (max-width: 767px) {
	section.topMainBanner,
	section.topSearchOccupation,
	section.topSearchArea,
	section.topSearchStatus,
	section.topSearchCommitment,
	section.topSearchKeyword{
      margin-bottom: 60px;
    }
    .topMain_SectionInr{
	  padding: 5% 2%;
	  background-color: #f9f9f9;
	}
	.topSearchOccupation .topMain_SectionTitle h2,
	.topSearchArea .topMain_SectionTitle h2,
	.topSearchStatus .topMain_SectionTitle h2,
	.topSearchCommitment .topMain_SectionTitle h2,
	.topSearchKeyword .topMain_SectionTitle h2{
	  float: none;
	  padding: 0;
	  text-align: center;
	  position: static;
	  line-height: 36px;
	}
	.topSearchOccupation .topMain_SectionTitle h2::before{
	  width: 39px;
	  height: 36px;
	  left: 10%;
	}
	.topSearchOccupation .topMain_SectionTitle h2::after{
	  content: "";
      background-image: url(../img/common/iconOccupation.png);
      position: absolute;
      display: inline-block;
      width: 39px;
	  height: 36px;
	  background-size: contain;
      background-repeat: no-repeat;
	  right: 10%;
	}
	.topSearchArea .topMain_SectionTitle h2::before{
      width: 39px;
	  height: 36px;
	  left: 10%;
	}
	.topSearchArea .topMain_SectionTitle h2::after{
	  content: "";
      background-image: url(../img/common/iconPlace.png);
      position: absolute;
      display: inline-block;
      width: 39px;
	  height: 36px;
	  background-size: contain;
      background-repeat: no-repeat;
	  right: 10%;
    }
	.topSearchStatus .topMain_SectionTitle h2::before{
      width: 39px;
	  height: 36px;
	  left: 10%;
	}
	.topSearchStatus .topMain_SectionTitle h2::after{
	  content: "";
      background-image: url(../img/common/iconStatus.png);
      position: absolute;
      display: inline-block;
      width: 39px;
	  height: 36px;
	  background-size: contain;
      background-repeat: no-repeat;
	  right: 10%;
    }
	.topSearchCommitment .topMain_SectionTitle h2::before{
      width: 39px;
	  height: 36px;
	  left: 10%;
	}
	.topSearchCommitment .topMain_SectionTitle h2::after{
	  content: "";
      background-image: url(../img/common/iconCommitment.png);
      position: absolute;
      display: inline-block;
      width: 39px;
	  height: 36px;
	  background-size: contain;
      background-repeat: no-repeat;
	  right: 10%;
    }
	.topSearchKeyword .topMain_SectionTitle h2::before{
	  width: 30px;
	  height: 30px;
	  left: 10%;
	}
	.topSearchKeyword .topMain_SectionTitle h2::after{
      content: "";
      background-image: url("../img/common/iconSearch.png") ;
      position: absolute; 
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      right: 10%;
		letter-spacing: 0;
	   font-size: .95em;
    }

	.topMain_columnInr ul.topMain_columnInr_lists li{
	  width: 49%;
	  margin-bottom: 10px;
	  border-radius: 6px;
	  filter: drop-shadow(0px 6px 0px #006ebb);
    }
	.topMain_columnInr ul.topMain_columnInr_lists li:nth-child(2n+0){
      margin-right: 0;
    }
    .topMain_columnInr ul.topMain_columnInr_lists li:nth-child(2n+1){
      margin-right: 1%;
    }
	.topMain_columnInr ul.topMain_columnInr_lists li a{
      padding: 7% 6%;
    }
	.topMain_SectionTitle{
	  margin-bottom: 24px;
	}
	.topMain_SectionInr ul li.tMSa::before,
	.topMain_SectionInr ul li.tMSo::before,
	.topMain_SectionInr ul li.tMSh::before,
	.topMain_SectionInr ul li.tMSr::before{
      content: none;
	}
	.topMain_SectionInr .topMain_SectionInr_agent, 
	.topMain_SectionInr .topMain_SectionInr_online, 
	.topMain_SectionInr .topMain_SectionInr_hotel, 
	.topMain_SectionInr .topMain_SectionInr_ryokan{
	  padding-left: 0;
	  text-align: center;
	}
	.topMain_SectionInr ul li .topMain_company_head_agent,
    .topMain_SectionInr ul li .topMain_company_head_online,
    .topMain_SectionInr ul li .topMain_company_head_hotel,
    .topMain_SectionInr ul li .topMain_company_head_ryokan{
	  text-align: center;
	  padding: 2%;
	  display: inline-block;
	  position: relative;
	  width: 80%;
	  margin: 0 auto;
	  line-height: 24px;
	}
	.topMain_SectionInr ul li .topMain_company_head_agent::before,
	.topMain_SectionInr ul li .topMain_company_head_agent::after,
    .topMain_SectionInr ul li .topMain_company_head_online::before,
    .topMain_SectionInr ul li .topMain_company_head_online::after,
	.topMain_SectionInr ul li .topMain_company_head_hotel::before,
	.topMain_SectionInr ul li .topMain_company_head_hotel::after,
    .topMain_SectionInr ul li .topMain_company_head_ryokan::before,
	.topMain_SectionInr ul li .topMain_company_head_ryokan::after{
	  content: "";
	  position: absolute;
	  top: 50%;
	  display: inline-block;
	  width: 48px;
	  height: 1px;
	  background-color: #ddd;
	}
	.topMain_SectionInr ul li .topMain_company_head_agent::before,
	.topMain_SectionInr ul li .topMain_company_head_online::before,
    .topMain_SectionInr ul li .topMain_company_head_hotel::before,
	.topMain_SectionInr ul li .topMain_company_head_ryokan::before{
	  left: 0;
	}
	.topMain_SectionInr ul li .topMain_company_head_agent::after,
    .topMain_SectionInr ul li .topMain_company_head_online::after,
	.topMain_SectionInr ul li .topMain_company_head_hotel::after,
    .topMain_SectionInr ul li .topMain_company_head_ryokan::after{
	  right: 0;
	}
	.sp.topMain_company_body_sp{
	  display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
	  display: flex!important;
	  flex-wrap: wrap;
	  justify-content: center;
	}
	.topMain_company_body_spList{
	  padding: 8px 16px;
      background-color: #daeefc;
      border-radius: 30px;
      line-height: 20px;
      margin: 4px;
	}
	.topMain_company_body_spListB{
	  padding: 8px 16px;
      background-color: #006ebb;
      border-radius: 30px;
      line-height: 20px;
      margin: 4px;
	}
	.topMain_company_body_spList a{
	  display: block;
	}
	.topMain_company_body_spListB a{
	  display: block;
	  color: #fff;
	}
	section.topSearchStatus .topMain_columnInr ul.topMain_columnInr_lists li a::before{
      width: 22px;
      height: 19px;
	  margin-right: 4%;
    }
	section.topSearchCommitment .topMain_columnInr ul.topMain_columnInr_lists li a::before{
      width: 27px;
      height: 18px;
	  margin-right: 4%;
    }
	.topSearchKeyword form .text-search{
      width: 70%;
    }
    .topSearchKeyword form .text-searchbtn{
      width: calc(30% - 15px);
      float: right;
    }
}
/* =========================================================
 * section recommend
========================================================= */
section.topRecommend{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 96px;
  margin-top: 96px;
  background: #daeefc;
}
.topRecommend_inner{
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
.topRecommend_inner .item{
  margin: 0 12px;
  min-width: 282px;
  height: 480px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.topRecommend_inner .item a{
  display: block;
}
.topRecommend_inner .item figure{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.topRecommend_inner .item figure img{
  width: 100%;
  height: 220px;
  overflow: hidden;
  object-fit: cover;
}
.topRecommend_inner .item .para{
  padding: 6%;
  margin: 0 auto;
}
.topRecommend_inner .item .para h3{
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding-bottom: 16px;
}
.topRecommend_inner .item .particularTxt{
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 16px 0;
  color: #ff9900;
  font-size: .8rem;
}
.topRecommend_inner .item .pcommentTxt{
  padding: 16px 0;
  font-size: .8rem;
}
@media screen and (max-width: 767px) {
	section.topRecommend{
      padding-top: 42px;
      padding-bottom: 42px;
      margin-top: 0;
      background: #daeefc;
    }
    .topRecommend_inner .item{
      min-width: 130px;
	  height: 400px;
	  margin: 0 6px;
    }
	.topRecommend_inner .item figure{
	  height: 130px;
	}
	.topRecommend_inner .item figure img{
	  height: 130px;
	}
	.topRecommend_inner .item .para{
      padding: 4%;
	}
	.topRecommend_inner .item .para h3{
	  font-size: .8rem;
	  padding-bottom: 8px;
	}
	.topRecommend_inner .item .particularTxt{
	  padding: 8px 0;
	}
	.topRecommend_inner .item .pcommentTxt{
	  padding: 8px 0;
	}
}
/* =========================================================
 * section Feature
========================================================= */
section.topFeature{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 96px;
}
.topFeature_inner{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
}
.topFeature_inner .item{
  width: 31%;
  margin-right: 3.5%;
  margin-bottom: 32px;
}
.topFeature_inner .item:nth-child(3n){
  margin-right: 0;
}
.topFeature_inner .item a{
  display: block;
}
.topFeature_inner .item .featureThumb figure{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 220px;
  position: relative;
  display: inline-block;
}
.topFeature_inner .item .featureThumb figure img{
  width: 100%;
  height: 220px;
  overflow: hidden;
  object-fit: cover;
}
.topFeature_inner .item .featureThumb figure figucaption{
  position: absolute;
  left: 12px;
  bottom: 12px;
  padding: 0 16px;
  line-height: 32px;
  font-size: .8rem;
  color: #fff;
  background-color: #006ebb;
}
.topFeature_inner .item h3{
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 16px 0 0;
}
.topFeature .featureBtn{
  width: 320px;
  height: 56px;
  border-radius: 28px;
  background-color: #666666;
  position: relative;
  margin: 0 auto;
  padding: 14px 0 16px;
  text-align: center;
}
.topFeature .featureBtn a{
  display: block;
}
.topFeature .featureBtn span{
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
}
@media screen and (max-width: 767px) {
	section.topFeature{
      padding-bottom: 60px;
    }
	.topFeature_inner{
	  width: 94%;
	}
	.topFeature_inner .item{
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
	.topFeature_inner .item .featureThumb{
	  display: flex;
	}
    .topFeature_inner .item .featureThumb figure{
	  width: 130px;
      height: 100px;
    }
    .topFeature_inner .item .featureThumb figure img{
      height: 100px;
    }
    .topFeature_inner .item .featureThumb figure figucaption{
      position: absolute;
      left: 8px;
      bottom: 8px;
      padding: 0 8px;
      line-height: 24px;
      font-size: .7rem;
      color: #fff;
      background-color: #006ebb;
	   white-space: nowrap;
    }
	.topFeature_inner .item .featureThumb .featureThumb-txt{
	  width: calc(100% - 145px);
	  margin-left: 15px;
	}
    .topFeature_inner .item h3{
      font-size: .95rem;
      font-weight: bold;
      letter-spacing: .05em;
      line-height: 1.6;
      padding: 0;
    }
    .topFeature .featureBtn{
      width: 320px;
      height: 56px;
      border-radius: 28px;
      background-color: #666666;
      position: relative;
      margin: 0 auto;
      padding: 14px 0 16px;
      text-align: center;
    }
}

/* =========================================================
 * section Column
========================================================= */
section.topColumn{
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 96px;
  background-color: #fff6e0;
}
.topColumn_inner{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0;
}
.topColumn_inner .item{
  width: 48.25%;
  margin-right: 3.5%;
  margin-bottom: 32px;
}
.topColumn_inner .item:nth-child(2n){
  margin-right: 0;
}
.topColumn_inner .item a{
  display: block;
}
.topColumn_inner .item .columnThumb{
  width: 100%;
  display: flex;
}
.topColumn_inner .item .columnThumb figure{
  width: 282px;
  height: 213px;
  margin: 0 24px 0 0;
}
.topColumn_inner .item .columnThumb figure img{
  width: 100%;
  height: 214px;
  overflow: hidden;
  object-fit: cover;
}
.topColumn_inner .item .columnThumb .columnPara{
  display: block;
}
.topColumn_inner .item .columnThumb .columnPara .columnTag{
  font-weight: bold;
  padding-bottom: 24px;
  display: block;
}
.topColumn_inner .item .columnThumb .columnPara .topColumnHr{
  width: 48px;
  float: left;
  height: 4px;
  background-color: #f6728b;
  display: block;
}
.topColumn_inner .item .columnThumb .columnPara .columnParaInr h3{
  font-size: .95rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 24px 0 16px;
}
.topColumn_inner .item .columnThumb .columnPara .columnParaInr p{
  font-size: .8rem;
  letter-spacing: .05em;
  line-height: 1.6;
  padding: 0;
}
.topColumn .columnBtn{
  width: 320px;
  height: 56px;
  border-radius: 28px;
  background-color: #666666;
  position: relative;
  margin: 0 auto;
  padding: 14px 0 16px;
  text-align: center;
}
.topColumn .columnBtn a{
  display: block;
}
.topColumn .columnBtn span{
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
}
@media screen and (max-width: 767px) {
	section.topColumn{
      padding-bottom: 60px;
    }
	.topColumn_inner{
	  width: 94%;
	}
	.topColumn_inner .item{
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
	.topColumn_inner .item .columnThumb figure{
      width: 130px;
      height: 100px;
      margin: 0 15px 0 0;
    }
    .topColumn_inner .item .columnThumb figure img{
      height: 100px;
    }
	.topColumn_inner .item .columnThumb .columnPara{
      width: calc(100% - 145px);
    }
	.topColumn_inner .item .columnThumb .columnPara .columnTag{
	  display: none;
	}
	.topColumn_inner .item .columnThumb .columnPara .topColumnHr{
	  display: none;
	}
	.topColumn_inner .item .columnThumb .columnPara .columnParaInr h3{
      padding: 8px 0 8px;
    }
}


/* =========================================================
 * side bar
========================================================= */
h2.viewRankTitle {
  text-align: center;
  margin: 0 0 5%;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
h2.viewRankTitle::before {
  content: "";
  background-image: url("../img/company/icon-viewRanking.png") ;
  position: relative; 
  top: -4px;
  right: 10px;
  display: inline-block;
  width: 34px;
  height: 32px;
  background-size: contain;
  vertical-align: middle;
}
.viewRank {
  width: 100%; 
  margin: 0 0 64px
}
.viewRank ul {
  width: 100%; 
  margin: 0 0; 
  padding: 0 0
}
.viewRank li {
  position: relative;
  border:1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 10px;
  list-style: none;border-bottom: none;
}
.viewRank li:first-child .counter {
  background:url("../img/company/bg-viewRank01.png") no-repeat;
  width: 32px;
  height: 40px;
  position: absolute; 
  top:0;
  left: 8px;
  text-align: center;
  background-size: contain;
}
.viewRank li:nth-child(2) .counter {
  background:url("../img/company/bg-viewRank02.png") no-repeat;
  width: 32px;
  height: 40px;
  position: absolute; 
  top:0;
  left: 8px;
  text-align: center;
  background-size: contain;
}
.viewRank li:nth-child(3) .counter {
  background:url("../img/company/bg-viewRank03.png") no-repeat;
  width: 32px;
  height: 40px;
  position: absolute; 
  top:0;
  left: 8px;
  text-align: center;
  background-size: contain;
}
.viewRank li:last-child {
  border-bottom:1px solid #e6e6e6;
}
.viewRank li .heading {
  overflow: hidden;
  margin-bottom: 10px;
}
.viewRank li figure {
  float: left;
  margin: 0 0; 
  width: 80px;
  overflow: hidden;
}
.viewRank li figure img {width: 100%; height: auto;}
.viewRank li .tit {
  color: #006ebb;
  font-size: 13px;
  font-weight: bold;
  float: right; 
  width: 164px;
}
.viewRank li dl {
  overflow: hidden; 
  padding:0;
  font-size: 11px;
  margin-bottom: 8px;
}
.viewRank li dt {float: left; width: 30%;margin: 0 0;}
.viewRank li dt span {
  background:#006ebb; 
  color: #fff; 
  padding: 4px 10px; 
  border-radius: 10px;
  line-height: 20px;
}
.viewRank li dd {float: right; width: 70%;margin: 0 0;}

h2.interviewRankTitle {
  text-align: center;
  margin: 0 0 5%;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
h2.interviewRankTitle::before {
  content: "";
  background-image: url("../img/company/icon-interviewRanking.png") ;
  position: relative; 
  top: -4px;
  right: 10px;
  display: inline-block;
  width: 32px;
  height: 24px;
  background-size: contain;
  vertical-align: middle;
}
.interviewRank {width: 100%; margin: 0 0 8%}
.interviewRank ul {width: 100%; margin: 0 0;padding: 0 0}
.interviewRank li {position: relative;list-style: none;width: 92%; margin: 0 auto 4%;}
.interviewRank li figure {
  position: relative;
  margin: 0 0 2%; 
  width: 100%;
  height: 144px;
  overflow: hidden;
}
.interviewRank li figure img {
  width: 100%; 
  height: auto;
  object-fit: cover;
}
.interviewRank .tie {
  position: absolute; 
  top: 100px;
  left: -17px;
  background: url("../img/company/tie-ranking.png") no-repeat; 
  color: #fff;
  width: 68px;
  height: 32px;
}
.interviewRank .tie .name {width: 68px; text-align: center;padding: 14px 0 0; line-height: 1.2; font-size: 9px;}
.interviewRank .tit {
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
}

/* =========================================================
 * search company
========================================================= */
section.topSearchCompany{
  width: 864px;
  padding-top: 80px;
  padding-bottom: 96px;
  margin: 0;
}
.topSearchCompany .topMain_SectionTitle h2{
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  line-height: 50px;
  padding: 0 0 0 56px;
}
.topSearchCompany .topMain_SectionTitle h2.agent::before{
  content: "";
  background-image: url("../img/common/iconAgent.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topSearchCompany .topMain_SectionTitle h2.online::before{
  content: "";
  background-image: url("../img/common/iconOnline.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topSearchCompany .topMain_SectionTitle h2.hotel::before{
  content: "";
  background-image: url("../img/common/iconHotel.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topSearchCompany .topMain_SectionTitle h2.ryokan::before{
  content: "";
  background-image: url("../img/common/iconRyokan.png") ;
  position: absolute; 
  display: table-cell;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}
.topSearchCompanyInr{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  section.topSearchCompany{
   width: 94%;
	margin: 0 auto;
	padding-bottom: 60px;
	padding-top: 60px;
  }
  .topSearchCompany .topMain_SectionTitle h2{
    float: none;
    padding: 0;
    text-align: center;
    position: static;
    line-height: 50px;
  }
  .topSearchCompany .topMain_SectionTitle h2.agent::before,
  .topSearchCompany .topMain_SectionTitle h2.hotel::before,
  .topSearchCompany .topMain_SectionTitle h2.ryokan::before{
    width: 50px;
	height: 50px;
	left: 10%;
  }
  .topSearchCompany .topMain_SectionTitle h2.online::before{
    width: 50px;
	height: 50px;
	left: 5%;
  }
  
  .topSearchCompany .topMain_SectionTitle h2.agent::after{
	content: "";
	background-image: url(../img/common/iconAgent.png);
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 10%;
  }
  .topSearchCompany .topMain_SectionTitle h2.online::after{
	content: "";
	background-image: url(../img/common/iconOnline.png);
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 5%;
  }
  .topSearchCompany .topMain_SectionTitle h2.hotel::after{
	content: "";
	background-image: url(../img/common/iconHotel.png);
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 10%;
  }
  .topSearchCompany .topMain_SectionTitle h2.ryokan::after{
	content: "";
	background-image: url(../img/common/iconRyokan.png);
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 10%;
  }
  .topSearchCompanyInr{
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    flex-wrap:wrap;
  }
  .topSearchCompanyInr .top-company_flo{
    width: calc((100% / 3) - 2%);
    margin: 1%;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
  }
  .topSearchCompanyInr .top-company_flo a{
	display: block;
  }
}



